<div id="tour-execution">
    <div id="top-div">
        <div>
            <p class="subtitle">Tour: {{tour.name}}</p>
            <!-- <label *ngIf="tour.execution"> Current checkpoint: {{tour.checkpoints[tour.execution.lastVisited].name}}</label> -->
        </div>

        <button (click)="start(tour)" style="height: 40px;">Start</button>
        <button (click)="nextCheckpoint(tour)" style="height: 40px;">Next Checkpoint</button>
        <button (click)="finish(tour)" style="height: 40px;">Finish</button>
    </div>

    <div class="simulator-div">
        <xp-simulator (positionUpdated)="checkPosition()"></xp-simulator>
    </div>
</div>