#notification {
    font-family: 'Poppins', sans-serif;
    background-color:#253B34;
    height: 1000px;
}

#content{
    display: flex;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    overflow-y: auto;
    margin-right: 10px;
    border: 1px solid #E67840;
}

thead tr {
    background-color: #3B846B;
    font-family: 'Poppins', sans-serif;
    font-size: 130%;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #E67840;
    cursor: pointer;
    background-color: #B6D4AF;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    background-color: #B6D4AF;
}

tbody tr:last-of-type {
    border-bottom: 1px solid #E67840;
    
}

tbody tr.active-row {
    font-weight: bold;
    color: #E67840;
}

/*  */
.new-notif-number {
    font-size: 150%;
    font-size: 20px;
    margin-left: 7px;
    margin-bottom: 8px;
    margin-top: 5px;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

.table-wrapper {
    display: flex;
    overflow-y: scroll;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically within the flex container */

}

.post-content {
    margin-bottom: 8px;
    font-size: 120%;
    margin-left: 7px;
}

.tr-notification{
    border: 1px solid;
    border-color: #E67840;
    border-bottom: 1px solid;
}

.new{
    color: #E67840;
    font-size: 160%;
    font-weight: bold;
    margin-right: 10px;
}

.date-and-dissmiss-div  {
    display: flex; 
    
}

.date-info {
    font-size: 2vh;
    color: #E67840;
    font-weight: 400;  
    margin-bottom: 0px;
}

.see-details {
    font-size: 2.5vh;
    font-weight: 400;  
    margin-left: 10px;
    margin-bottom: 0px;
    color:#E67840;
}

.buttons-div {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.dismiss {
    font-size: 2.5vh;
    font-weight: 400;  
    margin-top: 8px;
    margin-bottom: 0px;
    color:#E67840;
}

.dismiss-all-button{
    background-color: #E67840;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 15%;
    width: auto;
    margin-left: 0px;
    padding: 0px 10px;
    width: 140px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
    height: 60px;
}
.dismiss-all-button:hover{
    background-color: #bc3f00;
}
.button-table:hover{
    background-color: #bc3f00;
}
.thc{
    color: #E67840;
    border: 1px solid #E67840;
    border-right: 0;
    font-size: 150%;
}
.thc2{
    border: 1px solid #E67840;
    border-left: 0;
}

.button-table{
    width: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0px 10px;
    width: 100px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.scroller::-webkit-scrollbar {
    width: 12px;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    background-color: #E67840; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
    position: absolute;
    left: 5px; 
  }
  
  .scroller::-webkit-scrollbar-track {
    background-color: #B6D4AF; /* Color of the track */
    border-radius: 10px;
    position: absolute;
    left: 5px; 
  }
.scroller{
    overflow-y: auto;
    height: 100%;
    position: relative;
}

.statistics-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 180px;
    margin-left: 80px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #B6D4AF;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.number{
    width: 100%;
    text-align: center;
    background-color: #B6D4AF;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #253B34;
    margin: 5px;
}
.text{
    width: 100%;
    text-align: center;
    background-color: #B6D4AF;
    font-size: 24px;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #253B34;
    margin: 5px;
}
.emoji{
    font-size: 30px;
    margin: auto;
}
.stat{
    display: flex;
    flex-direction: row;
}