<div id="tour">
    <br>
    <br>
    <br>
    <div class="tours-heading">My bundles</div>
    <div id="tour-details">
        <div>   
                <div class="tour-card">
                <div class="tour-info">
                    <label>Enter name: </label><input [(ngModel)]="tourBundle.name"/>
                    <label>Enter price: </label><input [(ngModel)]="tourBundle.price"/>
                </div>
                <div class="tours-card" *ngFor="let t of tourBundle.tours">
                    <p>{{t.name}}</p>
                    <p>{{t.description}}</p>
                    <p>{{t.status}}</p>
                    <button (click)="removeTourFromBundle(t)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                </div>
                <div class="tour-actions">
                    <button (click)="editBundle()" class="edit-button">
                        Edit
                    </button>
                    <button class="edit-button" (click)="addMoreTours()">
                        Add more tours
                    </button>
                </div>
                
        </div>
        <div [hidden]="!showAdditionalTours">
            <div class="tours-heading">Add more tours</div>
            <div class="tour-card">
                <div class="tours-card" *ngFor="let t of additionalTours">
                    <p>{{t.name}}</p>
                    <p>{{t.description}}</p>
                    <p>{{t.status}}</p>
                    <button (click)="addTourToBundle(t)">
                        Add to bundle
                    </button>
                </div>
                </div>
        </div>
    </div>
</div>