.tour-info {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

#tour {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #253B34;
    height: 100%;
}

.tours-heading{
    font-size: 36px;
    color:#E67840;
    font-weight: 600;
    margin-top: 6vh;
    margin-bottom: 1vh;
}

.cards-container {
    display: flex;
    padding-top: 4vh;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    height: 70vh;
}

.left-card {
    flex: 62;
    height: auto;
}

.right-card{
    flex: 38;
    height: auto;
}

.tourName {
    font-size: x-large;
    color: white;
    padding: 1% 2.5%; 
    background-color: #1b332b8e;
    display: flex;
    text-align: center;
    width: 100px;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 30%;
    border-radius: 5px;
}

button[color="primary"] {
    background-color: #3B846B;
    color: white;
}

button[color="primary"]:hover {
    background-color: #253B34;
    color: white;
}

.tour-card {
    flex: 0 0 0 0 calc(33.33% - 20%);
    background-color: #B6D4AF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #3B846B15;
    color: #253B34;
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 30px;
    padding: 10px;
    font-size: x-large;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}

#empty-cart-message {
  text-align: center;
  font-size: x-large;
  color: white;
  padding: 1% 2.5%;
  background-color: #3B846B;
  display: flex;
  text-align: center;
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.wallet-heading {
    justify-content: right;
    margin-right: 5vh;
    font-size: 28px;
    color: #3B846B;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.checkout-button {
    margin-left: 2vh;
    margin-right: 10px;
}

.coupon-code-input {
    margin-left: 1px;
    margin-top: 10px;
}

mat-form-field {
    width: fit-content;
}

.total{
    font-size: 38px;
    font-weight: 500;
    color: #E67840;
    margin-left: 5vh;
    margin-top: 3vh;
}

hr{
    margin: 5vh;
}