.blog-post-form mat-form-field {
    width: 80%;
}

.blog-post-form mat-form-field input {
    width: 80%;
}

.blog-post-form mat-form-field textarea {
    width: calc(100% - 24px);
}

button mat-icon {
    color: #ffffff;
}

button[color="primary"] {
    background-color: #3B846B;
}

button[color="accent"] {
    background-color: #E67840;
}

.action-btn {
    display: block;
    background-color: #3B846B;
    color: #ffffff;
    border: none;
    padding: 4px 8px;
    margin: 4px 0;
    width: 100px;
}

.action-btn mat-icon {
    color: #ffffff;
}

.action-btn[color="primary"],
.action-btn[color="accent"] {
    display: block;
}

.file-input {
    display: none;
}

.upload-btn {
    background-color: #3B846B;
    color: white
}