<div id="club">
    <p>Manage members of club</p>
    <div id="club-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th> Username </th>
                    <th> Remove member </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.username}}</td>
                    <td>
                        <button color="accent" (click)="removeMember(u.id)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <p>Invite new members</p><br>
    <div id="club-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th> Username </th>
                        <th> Invite member </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td>{{u.username}}</td>
                        <td>
                            <button color="accent" (click)="inviteMember(u.id)" mat-icon-button>
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
</div>