.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Promenjeno sa 'center' na 'flex-start' */
  height: 100vh; /* Puni visinu ekrana */
}

.content-wrapper {
  margin-top: 60px; /* Prilagodite vrednost prema potrebi */
  margin-bottom: 60px; /* Prilagodite vrednost prema potrebi */
}

.tour-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tour-card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #B6D4AF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #3B846B15;
  color: white;
  text-align: left;
  margin: 10px;
  border-radius: 5px;
  width: calc(33.33% - 20px); /* Promenjeno sa 100% na calc(33.33% - 20px) */
  padding: 10px;
  width: 300px;
}

.no-tours {
  flex: 1;
}
  
  p {
    margin: 0 auto;
    font-size: 4vh;
    color: #E67840;
    padding: 1% 2.5%;
  }

.tourName {
    font-size: x-large;
    color: white;
    padding: 1% 2.5%; 
    background-color: #1b332b8e;
    display: flex;
    text-align: center;
    width: 100px;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 30%;
    border-radius: 5px;
}

button[color="primary"] {
    background-color: #3B846B;
    color: white;
}

button[color="primary"]:hover {
    background-color: #253B34;
    color: white;
}

/* .tour-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tour-card {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #B6D4AF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #3B846B15;
  color: white;
  text-align: left;
  margin: 10px;
  border-radius: 5px;
  width: 100%; 
  padding: 10px;
} */

.tours-heading{
    justify-content: left;
    font-size: 36px;
    color:#E67840;
    font-weight: 600;
    margin-top: 6vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
  }

  .buttonPlus {
    width: 80px; /* Širina dugmeta */
    margin-top: 10px;
    font-size: 100%;
    color: #2E6C54;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Manji radijus ivice za lepši izgled */
    cursor: pointer;
    display: flex; /* Omogućava centriranje teksta i ikone */
    justify-content: space-around; /* Povećava prostor između teksta i ikone */
    align-items: center; /* Centrira tekst i ikonu vertikalno */
    padding: 8px 16px; /* Povećava prostor unutar dugmeta */
  }
  
  .buttonPlus:hover {
    background-color: dark beige;
  }
  
  /* Dodali novu klasu za ikonu plus (+) */
  .buttonPlus .plusIcon {
    color: #F9E79F; /* Krem boja za plus simbol */
  }
  
  .buttonMinus {
    width: 80px; /* Širina dugmeta */
    margin-top: 10px;
    font-size: 100%;
    color: #E67840;
    background-color: #BDC3C7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* Manji radijus ivice za lepši izgled */
    cursor: not-allowed;
    display: flex; /* Omogućava centriranje teksta i ikone */
    justify-content: space-around; /* Povećava prostor između teksta i ikone */
    align-items: center; /* Centrira tekst i ikonu vertikalno */
    padding: 8px 16px; /* Povećava prostor unutar dugmeta */
  }
  
  .buttonMinus:hover {
    background-color: #BDC3C7;
  }

.tour-description,
.tour-price {
    margin-top: 15px;  /* Dodajte razmak između opisa i cene */
}

button[color="warn"] {
    background-color: #e67e22;  /* Promenite boju u narandžastu */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[color="warn"]:hover {
    background-color: #d35400;  /* Tamnija nijansa narandžaste prilikom hovera */
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;  /* Dodajte manji razmak iznad dugmadi */
}

.buttonPlus:disabled {
  background-color: #BDC3C7; /* Siva boja za onemogućeno dugme */
  cursor: not-allowed;
  color: #808080; /* Boja teksta za onemogućeno dugme */
}

.buttonPlus:disabled:hover {
  background-color: #BDC3C7; /* Održavamo istu sivu boju prilikom hovera */
}

.buttonMinus:disabled {
  background-color: #BDC3C7; /* Siva boja za onemogućeno dugme */
  cursor: not-allowed;
  color: #808080; /* Boja teksta za onemogućeno dugme */
}

.buttonMinus:disabled:hover {
  background-color: #BDC3C7; /* Održavamo istu sivu boju prilikom hovera */
}