<div id="reported-issues">
    <p class="header_page">My reported issues</p>
    <button class="report-an-issue-button" *ngIf="user && user.role === 'tourist'" (click)="reportAnIssue()">Report an issue</button>
    
    <div id="content">
    <div id="reported-issues-details">
    <div style="overflow-x: hidden;">
        <div style="border: 2px solid #3B846B;">
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Reported issues</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ri of reportedIssues" [ngClass]="{'red-row': isUnresolvedAndOlderThan5Days(ri) && user.role==='administrator'}" (click)="selectReportedIssue(ri)">
                    <td>
                        <div class="details">
                            <p class="additionalInfo" style="width: 35%;">{{ri.tour.name}}</p>
                            
                            <p *ngIf="ri.resolved" class="resolved">Resolved</p>
                            <p *ngIf="!ri.resolved" class="unresolved">Unresolved</p>
                        </div>
                        <div class="post-content">
                            {{ri.description}}
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <p class="additionalInfo">{{ ri.time | date: 'HH:mm, dd.MM.yyyy' }}</p>
                            <p class="additionalInfo" style="margin-right: 10px;">Priority: {{ri.priority}}</p>
                        </div>
                    </td>              
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    <div *ngIf="reportedIssues && reportedIssues.length > 0" class="post">
        <div class="details">
            <p class="additionalInfo" style="width: 35%;">{{selectedReportedIssue.tour.name}}</p>
            <p *ngIf="selectedReportedIssue.resolved" class="resolved">Resolved</p>
            <p *ngIf="!selectedReportedIssue.resolved && user.role!=='tourist'" class="unresolved">Unresolved</p>
            <button class="greenButton" *ngIf="!selectedReportedIssue.resolved && user.role==='tourist'" (click)="resolve()">Mark as resolved</button>
            <p class="additionalInfo" style="width: 35%; text-align: right;">Category: {{selectedReportedIssue.category}}</p>
        </div>        
        <div class="user-info">
            <div class="user-avatar">
                <img [src]="selectedReportedIssue.profilePictureUrl" alt=" ">
            </div>
            <div class="user-name">{{selectedReportedIssue.personName}}</div>
        </div>
        <div class="post-content">
            {{selectedReportedIssue.description}}
        </div>
        <div style="display: flex; justify-content: space-between;">
            <p class="additionalInfo">{{ selectedReportedIssue.time | date: 'HH:mm, dd.MM.yyyy' }}</p>
            <p class="additionalInfo">Priority: {{selectedReportedIssue.priority}}</p>
        </div>
        <div class="comments">
            <div *ngFor="let ri of selectedReportedIssue.comments" class="comment">
                <div class="comment-user-info">
                    <div class="comment-avatar">
                        <img [src]="ri.profilePictureUrl" alt=" ">
                    </div>
                    <div class="comment-name">{{ri.personName}}</div>
                </div>
                <div class="comment-content">
                    {{ri.text}}
                </div>
                <p class="additionalInfo" style="text-align:right; margin-right: 5px;">{{ ri.creationTime | date: 'HH:mm, dd.MM.yyyy' }}</p>
            </div>
        </div>
        <div class="comment-input">
            <input type="text" placeholder="Enter your comment" [(ngModel)]="newCommentString" />
            <button (click)="addComment()">Add Comment</button>
        </div>
        <div class="adminsButtons" *ngIf="user.role==='administrator'">
            <div>
                <ng-container *ngIf="!selectedReportedIssue.closed; else closedText">
                    <button class="greenButton" (click)="closeReportedIssue(selectedReportedIssue.id)">Close</button>
                </ng-container>
                <ng-template #closedText>Closed</ng-template>
            </div>
            <div>
                <input class="datepicker" type="date" *ngIf="!selectedReportedIssue.deadline && !selectedReportedIssue.resolved" [(ngModel)]="selectedDateStr">
                <button class="greenButton" *ngIf="!selectedReportedIssue.deadline && !selectedReportedIssue.resolved" (click)="addDeadline()">Add Deadline</button>
                <span style="margin-right: 6px;" *ngIf="selectedReportedIssue.deadline && !selectedReportedIssue.resolved">Deadline: {{ selectedReportedIssue.deadline | date: 'MM/dd/yyyy' }}</span> 
                <ng-container *ngIf="!isTourClosed(selectedReportedIssue.tour); else closedTourText">
                    <button id="penalizeButton" (click)="penalize(selectedReportedIssue.id)">Penalize</button>
                </ng-container>
                <ng-template #closedTourText>Penalized</ng-template>   
            </div>
              
        </div>
    </div>
    </div>
</div>