<div id="reported-issues">
    <p>Reported issues</p>
    <hr>
    <div id="reported-issues-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Time</th>
                    <th>Tour</th>
                    <th>Tourist</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ri of reportedIssues" [ngClass]="{'red-row': isUnresolvedAndOlderThan5Days(ri)}">
                    <td>{{ri.category}}</td>
                    <td>{{ri.description}}</td>
                    <td>{{ri.priority}}</td>
                    <td>{{ ri.time | date: 'HH:mm, dd.MM.yyyy' }}</td>
                    <td>{{ri.tour.name}}</td>
                    <td>{{ri.touristId}}</td>
                </tr>
                           
                                   
            </tbody>
        </table>
    </div>
    </div>
</div>
