<div >
    <div class="tour">
        <h1>Tours</h1>
    <div>
        <table>
            <tbody>
                <tr *ngFor="let t of tours">
                <td (click)="openDetails(t)">
                    <div>
                        <br>
                            <div class="ch">{{t.name}}</div>
                        <br>
                        <div class="card">
                            <div>
                               <span class="cinfo"> Distance:</span>
                                <br>
                                {{t.distance}}
                            </div>
                            <div>
                               <span class="cinfo">Price:</span>
                                <br>
                                {{t.price}}
                            </div>
                            <div>
                              <span class="cinfo">Status:</span>
                                <br>
                                {{t.status}}
                            </div>
                            <div>
                                <img [src]="t.checkpoints[0].pictures[0]" width="100" height="100">
                            </div>
                        </div>                       
                        <div class="cttags">{{t.tags}}</div>
                        </div>
                </td>
                </tr>
                <tr><button style="color:#E67840" (click)="onAddClicked()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
   
    </div>
</div>


