<div id="tour">
    <p>Tours</p>
    <hr>
    <div id="tour-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Demandigness level</th>
                    <th>Tags</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tours">
                    <td>{{t.name}}</td>
                    <td>{{t.description}}</td>
                    <td>{{t.price}}</td>
                    <td>{{t.demandignessLevel}}</td>
                    <td>{{t.tags}}</td>
                    <td>{{t.status}}</td>
                    <td>
                        <button color="accent" (click)="deleteTour(t.id || 0)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button color="primary" (click)="onEditClicked(t)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button color="primary" (click)="openDetails(t)" mat-icon-button>
                            <mat-icon>details</mat-icon>
                        </button>
                        <button *ngIf="t.status == 'Draft'" color="primary" (click)="publishTour(t)" >publish</button>
                    </td>
                </tr>
                <tr><button color="primary" (click)="onAddClicked()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
    </div>
    </div>
</div>


