.tour {
    width: 80%;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14%;
    padding-right: 14%;
    min-height: 100%;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Handle (thumb) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #E67840; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
  }
  
  /* Track (the area on which the thumb moves) of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #B6D4AF; /* Color of the track */
    border-radius: 10px;
  }

h1{
  font-size: 6vh;
  color:white;
  padding: 1% 2.5%; 
  margin: 0 auto;
  font-weight: 400;
}
.bundle-top{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.totalPrice{
    text-align: center;
    font-size: 170%;
    color: white;
    margin-right: 20px;
    margin-top: 5px;
}
.bundleName{
    width: 30vh;
    border-radius: 6px;
    margin-right: 10px;
    border: 2px solid #253B34;
    height: 70%;
    font-size: 100%;
    text-align: center;
}
.create-bundle-button{
    border-radius: 10px;
    border: none;
    width: 15vh;
    height: 80%;
    background-color: #E67840;
    color: white;
    font-size: 100%;
    font-weight: 400;
    cursor: pointer;
}
.bundle-form{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: center;
    height: 45px;
}
.tour-container {
    display: flex;
    flex-wrap: wrap;
    left: auto;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    right: auto;
    overflow-x: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid #3B846B;
    border-radius: 10px;
    row-gap: 50px; 
    column-gap: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
    grid-row: auto;
    justify-content: start;
    margin-bottom: 30px;
  }
  .tour-horizontal-container {
    display: flex;
    left: auto;
    width: auto;
    right: auto;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #3B846B;
    border-radius: 10px;
    column-gap: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
    grid-row: auto;
    justify-content: start;
    max-width: 100%;
  }
  .tour-bundle-container {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    right: auto;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 2px solid #3B846B;
    border-radius: 10px;
    justify-content: start;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .filtersButton{
    width: auto;
    height: 6vh;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-top:auto;
    margin-bottom: 2px;
    border: none;
    background-color: #E67840;
    color: white;
    margin-left: 15px;
    font-size: 120%;
    cursor: pointer;
  }
  .bundleButton{
    width: auto;
    height: 6vh;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 0px;
    margin-right: 18px;
    margin-top:auto;
    margin-bottom: 2px;
    border: none;
    background-color: #3B846B;
    color: white;
    margin-left: 15px;
    font-size: 120%;
    cursor: pointer;
  }
  .filtersDiv{
    background-color: #B6D4AF;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 100%;
    border: 2px solid #3B846B;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .tour-card {
    background-color: #B6D4AF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px #3b846b15;
    color: #000;
    text-align: left;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 5px;
    margin-bottom: 0px;
    width: 31.5%;
    min-width: 40vh;
    max-width: 450px;
    height: 46vh;
    max-height: 400px;
    position: relative;
  }
  .tour-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
  }
  .star {
    font-size:120%;
    color: #E67840; /* Make the text inside transparent */
    position: relative;
    display: inline-block;
  }
  .card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .image-container {
    position: relative;
    display: inline-block;
    height: 55%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .tour-card-img { 
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover; 
  }
  .card-location-header{
    font-size: 80%;
    color: white;
    padding-top: -1%;
    padding-bottom: -1%;
    padding-left: 2%;
    padding-right: 2%; 
    background-color: #1b332b8e;
    max-width: 60%;
    text-wrap: nowrap;
    height: auto;
    overflow-x: hidden;
    margin-left: 10px;
    border-radius: 5px;
  }
  
  .card-header{
    margin-top: 5px;
    margin-left: 10px;
    color: #253B34;
    font-size: 120%;
    margin-bottom: 4px;
  }
  .price{
    background-color: #E67840;
    padding: 2px;
    color: white;
    font-weight: 300;
    border-radius: 3px;
  }
  .originalprice{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 120%;
    background-color: #E67840;
    padding: 2px;
    color: white;
    font-weight: 300;
    border-radius: 3px;
  }
  .Oldprice {
    width: fit-content;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #E67840;
    font-size: 80%;
    color: lightgray;
    opacity: 0.9;
    font-weight: 200;
    border-radius: 3px;
    position: relative;
}

.Oldprice::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  width: 90%;
  height: 90%;
  background: linear-gradient(to top left, transparent 47.5%, red 47.5%, red 52.5%, transparent 52.5%);
}
  .prices{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .sale{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .discount{
    background-color: red;
    padding: 2px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: -4px;
  }
  .last_minute{
    height: 4vh;
    width: 7vh;
    object-fit: cover;
    overflow: hidden;
    margin-left: auto;
    border-radius: 3px;
  }
  .AddButton{
    position: absolute;
    left: auto;
    overflow: hidden;
    right: 10px;
    top: auto;
    bottom: 10px;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    text-align: center;
    color: white;
    background-color: #3B846B;
    font-size: 180%;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  .AddButtonDisabled{
    position: absolute;
    left: auto;
    overflow: hidden;
    right: 10px;
    top: auto;
    bottom: 10px;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    text-align: center;
    color: white;
    background-color: #3B846B;
    font-size: 180%;
    font-weight: 500;
    border: none;
    pointer-events: none;
    opacity: 0.5;
  }
#filter {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 130%;
    width: auto;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
.label-and-select {
    text-wrap: nowrap;
    width: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

.disclaimer{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 100%;
}
.shopButton{
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 20vh;
    font-size: 100%; 
    color:#fff;
    background-color:#E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px 7px 0px 10px;
    cursor: pointer;
    margin-left: 450px;
}

.search-controls {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .search-controls input {
    margin-right: 10px;
  }
  
  .search-controls span {
    margin-right: 10px;
  }
  
  input[type="range"] {
    height: 18px;
    background-color:#E67840;
    appearance: none;
    border-radius: 10px; 
    outline: none;
    color: white;
  }
  
  .apply{
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #E67840;
    color: white;
    font-weight: 400;
    cursor: pointer;
  }

  .navbar-span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .title{
    margin-bottom: 20px;
  }

.card{
    margin-left: 50px;
    margin-right: 50px;
    width: 680px;
    display:flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
    
}

.cinfo{
    font-style: bold;
    font-size: 2vh;
    color: black;
}

td{
    border:solid 3px #3B846B;
    background-color: #B6D4AF;
    margin-bottom: 50px;

}
.ch{
    justify-content: center;
    font-size: 3vh;
    font-style: bold;
    text-align: center;

}

.cttags{
    margin-left: 50px;
    justify-content: left;
    font-size: 2vh;
    font-style: bold;
}

.addToBundleButton{
    width: auto;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color:#E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

div[hidden] {
    display: none;
}