<div>
    <form [formGroup]="mapObjectForm">
        <div>
            <div id="details-div">
                <mat-form-field>
                    <label>Name:</label>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
    
                <mat-form-field>
                    <label>Description:</label>
                    <input matInput type="text" formControlName="description">
                </mat-form-field>
    
                <mat-form-field>
                    <label>Category</label>
                    <mat-select formControlName="category">
                    <mat-option value="Restaurant">Restaurant</mat-option>
                    <mat-option value="Parking">Parking</mat-option>
                    <mat-option value="WC">WC</mat-option>
                    <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field *ngIf="!shouldEdit">
                    <label>Object status</label>
                    <mat-select formControlName="status">
                    <mat-option value="Private">Private</mat-option>
                    <mat-option value="Public">Public</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Picture</mat-label>
                    <input matInput type="text" [readonly]="true" [value]="mapObjectForm.get('picture')?.value" />
                    <input type="file" (change)="onProfilePictureSelected($event)" id="fileInput" accept="image/*" />
                </mat-form-field> 
                <img class="image-container" [src]="selectedImage" *ngIf="selectedImage" alt="Selected Image" />
            </div>
            
            <div id="location-div">
                <h2>Chose Location on map</h2>
                <mat-form-field>
                    <label>Longitude:</label>
                    <input matInput type="number" formControlName="longitude">
                </mat-form-field>
                <mat-form-field>
                    <label>Latitude:</label>
                    <input matInput type="number" formControlName="latitude">
                </mat-form-field>
                <br>
                <xp-map (mapClick)="onMapClick($event)"></xp-map>
            </div>
            
            <br>
            <button class="button" *ngIf="!shouldEdit" (click)="addMapObject()">Add MapObject</button>
            <button class="button" *ngIf="shouldEdit" (click)="updateMapObject()">Update</button>
            <br>
        </div>
    </form>
</div>