#tour {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    color:#ffffff;
}

#tour-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    width: 100%;
}

p {
    font-size: 20px;
}

h1{
    font-size: 28px;
    font-weight: 600;
    color: #E67840;
    text-shadow: 0 0 2px #E67840;
    position: absolute;
    left: 80px;
    top: 18px;
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100%;
}

thead tr {
    background-color: #3B846B;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}



tbody tr:last-of-type {
    border-bottom: 2px solid #3B846B;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3B846B;
}

#tour-details mat-icon {
    color: #3B846B;
}

body{
    min-height: 100%;
    height: auto;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: top;
    padding:20px;
}
.container{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    align-items: center;
    background-color: rgb(37, 60, 53, 0.8);
    width:74%;
    height: auto;
}
h1{
    color: #E67840;
    font-size: 260%;
    font-weight: 500;
}
.content{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: left;
    margin-bottom: 1vh;
}
.tellUs{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 100%;
    margin-bottom: 10px;
}
.forma{
    align-items: center;
    height: 5vh;
    display: flex;
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
}
.formaName{
  align-items: center;
    height: 5vh;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.name{
    font-weight: 500;
    color:#E67840;
}
.description{
    text-wrap: wrap;
    width:100%;
    font-size: 70%;
    color: #253B34;
    overflow:hidden;
    height: 9vh;
}



 

  .disclaimer{
    color: white;
    font-size: 80%;
    font-weight: 500;
    text-align: center;
    align-self: center;
  }