
    <body>
    <div style="height: 50px"></div>
    <h1>Your private tours</h1>
    <div>
        <table>
            <tbody>
                <tr *ngFor="let t of privateTours; let i = index">
                    <td>
                        <div>
                            <div class="ch">{{ t.name }}</div>
                            <div class="card">
                                <div class="image-container">
                                    <img [src]="t.checkpoints[0].pictures[0]" width="140" height="140">
                                </div>
                                <div class="rightCardPart">
                                    <div>
                                        <p>Tour checkpoints</p>
                                        <ul>
                                            <li *ngFor="let c of t.checkpoints">
                                                <label>{{ c.name }}</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="height:100%; display: flex; flex-direction: column; justify-content: end;">
                                        <button *ngIf="!t.execution" (click)="execute(t)">Start adventure</button>
                                        <div *ngIf="t.execution">
                                            <button class="blog-button" (click)="createPrivateTourBlog(t)" >Create blog</button>
                                            <p>Finished on: </p>
                                            <p> {{formatDate(t.execution.endDate)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
