<h1>Tour statistics</h1>

<div>
    <h3><b>Number of sold tours:</b> {{ numberOfSoldTours }}</h3>
</div>

<div class="chart-container">
    <div class="chart">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
        <div class="chart-info">
            <h3><b>Total number of started tours:</b> {{ numberOfStartedTours + numberOfFinishedTours}}</h3>
            <h3><b>Number of currently started tours:</b> {{ numberOfStartedTours }}</h3>
            <h3><b>Number of currently finished tours:</b> {{ numberOfFinishedTours }}</h3>
        </div>
    </div>
</div>  