<html>
<body>

<h1>Tour statistics</h1>

<div class="analytics-container">
      <h3 class="orange-h3"><b>Number of sold tours:</b> {{ numberOfSoldTours }}</h3>
      <h3 class="orange-h3"><b>Total number of started tours:</b> {{ numberOfStartedTours + numberOfFinishedTours}}</h3>
      <h3 class="orange-h3"><b>Number of currently started tours:</b> {{ numberOfStartedTours }}</h3>
      <h3 class="orange-h3"><b>Number of currently finished tours:</b> {{ numberOfFinishedTours }}</h3>
</div>

<div class="chart-container">
    <canvasjs-chart [options]="chartOptions" class="chart"></canvasjs-chart>
    <canvasjs-chart [options]="chartOptions2" class="chart"></canvasjs-chart>
</div>
  

</body>
</html>
  
