form {
    margin-top:35px;
    display: flex;
    justify-content: center;
}

div {
    width: 400px;
    display:flex;
    flex-direction: column;
}

.button {
    width: auto;
    font-size: 100%; 
    color:#fff;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.header_my_profile{
    font-size: 28px;
    color: #E67840;
    font-weight: 600;
    margin-bottom: 50px;
    position: absolute;
    left: 80px;
    top: 18px;
    text-shadow: 0 0 2px #E67840;
}


.profile-card {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.2);
    margin-left: 400px;
    margin-bottom: 2px;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.profile-card-content {
    align-items: left;
}

.profile-card-content div{
    display: inline-block;
}

.profile-image-section {
    border-radius: 5px;
    background: linear-gradient(to right, #3B846B, #B6D4AF);
    width: 300px;
    height: auto;
    padding: 10px;
}

.user-image {
    border-radius: 500px;
    width: 100%; 
    height: 300px;
}

.profile-details-section {
    padding: 20px;
    align-items: center;
    text-align: left; 
}

.profile-details {
    display: flex;
}

.user-name {
    font-size: 17px;
}
.user-role {
    color: #fff;
}

.information-section {
    padding: 20px;
    width: 100%;
    flex-direction: column;
    align-items: left;
}

.section-heading {
    font-weight: 600;
    margin-bottom: 30px;
}

.information-column {
    flex: 0 0 60%; /* Postavljamo širinu kolone */
}

.information-label {
    font-weight: bold; 
    margin-bottom: 10px;
}

.information-value {
    margin-bottom: 10px;
    color: #3B846B; 
}

.button-column {
    flex: 0 0 20%; /* Postavljamo širinu kolone */
    align-items: left;
    height: auto;
}
.custom-button {
    border: 1px solid #3B846B; 
    padding: 5px; 
    border-radius: 5px;
    background-color: #fff; /* Boja pozadine */
    color: #3B846B; /* Boja teksta */
    cursor: pointer; /* Kursor na hover */
    transition: background-color 0.3s, color 0.3s; /* Animacija promene boje na hover-u */
    margin-right: auto;
}

.custom-button:hover {
    background-color: #3B846B;
    color: #fff;
}

.matt-icon-button {
    margin-left: 10px; 
    height: 20px;
}

.xp_level_items{
    border: 2px solid #ddd; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 130px;
    padding: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/*ovde za div form*/
.edit_form{
    border: 1px solid #3B846B;
    box-shadow: 0 0 10px #B6D4AF;
    border-radius: 5px;
    padding: 10px;
    flex-direction: row; 
    width: auto;
    height: auto;
    margin-left: 40px;
}

.edit_form_row {
    margin-right: 20px; /* Dodaj razmak između divova */
    flex-direction: column;
    width: 320px;
}

.button_edit_submit{
    width: auto;
    margin-right: auto;
    margin-top: 10px;
}

.edit_profile_image{
    width: 300px;
    height: 220px;
}
