<button class="encounter-button" *ngIf="isTourist && tourist.level >= 5" (click)="createEncounter()">Create encounter</button>
<div class="profile-card">
  <div class="profile-card-content">
      <div class="profile-image-section">
           <img [src]="profileInfoForm.get('profilePictureUrl')?.value"
           class="user-image">
           <!-- <img [src]="currentUser.profilePictureUrl"
           class="user-image">  -->
           <div class="profile-details-section">
              <div class="profile-details">
                  <h6 class="user-name" *ngIf="currentUser !== undefined">{{currentUser.name}}  {{currentUser.surname}}</h6>
                  <p class="user-role">{{user.role}}</p>
                  <div class="xp_level_items"  *ngIf="isTourist">
                    <p  class="user-name">Level: {{tourist.level}}</p>
                    <p  class="user-name">XP: {{ tourist.xp}}</p>
                  </div>
              </div>
           </div>
      </div>
  </div>
  
  <div class="information-section">
    <h3 class="section-heading">Informations</h3>
    <div class="information-row">
        <div class="information-column">
            <p class="information-label">Email:</p>
            <h4 class="information-value" *ngIf="currentUser !== undefined" >{{currentUser.email}}</h4>
        </div>
        <div class="information-column">
            <p class="information-label">Biography:</p>
            <h4 class="information-value" *ngIf="currentUser !== undefined">{{ currentUser.biography }}</h4>
        </div>
        <div class="information-column">
          <p class="information-label">Motto:</p>
          <h4 class="information-value"  *ngIf="currentUser !== undefined">{{ currentUser.motto}}</h4>
      </div>
      <div class="button-column">
        <button class="custom-button" (click)="startEditing()">Edit profile
          <mat-icon class="matt-icon-button">edit</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

<form [formGroup]="profileInfoForm" (ngSubmit)="edit()">
    <div class="edit_form" *ngIf="showForm">
      <div class="edit_form_row">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" [readonly]="!isEditing"/>
          <mat-error *ngIf="profileInfoForm.get('name')?.hasError('pattern')">Name should start with an uppercase letter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" type="text" [readonly]="!isEditing"/>
          <mat-error *ngIf="profileInfoForm.get('surname')?.hasError('pattern')">Surname should start with an uppercase letter</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" [readonly]="!isEditing"/>
          <mat-error *ngIf="profileInfoForm.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Biography</mat-label>
          <input matInput formControlName="biography" type="text" [readonly]="!isEditing"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Motto</mat-label>
          <input matInput formControlName="motto" type="text" [readonly]="!isEditing"/>
        </mat-form-field>
      </div>
      
      <div class="edit_form_row">
        <mat-form-field>
          <mat-label>Profile Picture</mat-label>
          <input matInput type="text" formControlName="profilePictureUrl" [readonly]="true" />
          <input *ngIf="isEditing" type="file" (change)="onProfilePictureSelected($event)" id="fileInput" />
        </mat-form-field> 
        <img [src]="selectedImage" *ngIf="selectedImage" alt="Selected Image" class="edit_profile_image"/>
        <div class="button_edit_submit">
          <!-- <button class="button" *ngIf="!isEditing" color="primary" mat-raised-button (click)="startEditing()">Edit</button> -->
          <button class="button" *ngIf="isEditing" color="primary" mat-raised-button (click)="saveChanges()">Save changes</button>
        </div>
      </div>  
    </div>
</form>
  
