#tour-rating {
    margin-top: 20px;
    margin-left: 20px;
}

#tour-rating-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #3B846B;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    height: fit-content;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3B846B;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3B846B;
}

.center-container {
    display: flex;
    justify-content: right;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #3B846B;
    box-shadow: 0 0 4px #253B34;
    margin-top: 40px;
}

.rating-comments {
    flex-wrap: wrap;
    width: 50px;
    max-width: 75px;
}

.image-container {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 200px; 
    max-height: 200px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.blog-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #3B846B;
    background-color: #3B846B;
    box-shadow: 0 0 4px #253B34;
    margin-top: 40px;
    color: #ffffff;
    margin-bottom: 30px;
}