::ng-deep .mat-drawer-content {
    scrollbar-width: thin !important;
    scrollbar-color: #E67840 #B6D4AF !important;
  }
  
.scroller::-webkit-scrollbar {
    width: 12px;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    background-color: #E67840; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
    position: absolute;
    left: 5px; 
  }
  
  .scroller::-webkit-scrollbar-track {
    background-color: #B6D4AF; /* Color of the track */
    border-radius: 10px;
    position: absolute;
    left: 5px; 
  }
.scroller{
    overflow-y: auto;
    height: 100%;
    position: relative;
}

:host {
  display: block; /* Ensures the component is a block element */
  height: 89.5%;  /* Set the desired fixed height */
  overflow-y:hidden; /* Add vertical scrollbar if the content overflows the fixed height */
}
#my-profile {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.sidenav {
    padding: 20px;
    padding-right: 5px;
    padding-left: 10px;
    width: 15%;
    background-color: #B6D4AF;
    overflow-y: hidden;
    height: 100%;
    overflow-x: hidden;
}

.sidenav-item {
    height: fit-content;
    font-size: medium;
}

.sidenav-item button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    /* font-weight: bold; */
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #B6D4AF;
    border-radius: 4px;
    background-color: #B6D4AF;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.sidenav-item button:hover {
    background-color: #b2c4ae;
}

.horizontal-divider {
    border-top: 1px solid #253B34; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.toggle-button-position {
    margin-top: 10px; 
    margin-left: 10px; 
    float: left;
}

.toggle-button {
    background-color: #E67840;
    color: #ffffff; 
}

.header {
    margin-top: 20px; 
    margin-left: 1%; 
    float: left;
    font-size: large;
}

#sidenav-content {
    display: flex;
    background-color: #F7F6DC;
    flex-direction: column;
    height: 700px;
}

#content {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
}

  
  