<div id="my-profile">
    <mat-drawer-container autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true">
            <!-- ADMIN -->
            <div class="scroller">
            <div *ngIf="user && user.role === 'administrator'">
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Accounts management')" [routerLink]="['accounts']">Accounts management</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Grade review')" [routerLink]="['grade-review']">Grade review</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button (click)="changeTitle('Manage equipment')" [routerLink]="['equipment']">Manage equipment</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Requests')" [routerLink]="['checkpoint-request-review']">Requests</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Reported issues')" [routerLink]="['reported-issues']">Reported issues</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Tour rating')" [routerLink]="['tour-rating']">Tour Rating</button> 
                    <div class="horizontal-divider"></div>
                </div>
            </div>
            
            <!-- TOURIST AND AUTHOR -->
            <div *ngIf="user && (user.role === 'author' || user.role === 'tourist')">
                <div class="sidenav-item"> 
                    <!-- Manage profile  -->
                    <button (click)="changeTitle('Profile information')" [routerLink]="['profile-info']">Profile information</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Manage your blogs')" [routerLink]="['my-blogs']">Manage your blogs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('My reported issues')" [routerLink]="['reported-issues']">My Reported issues</button>
                    <div class="horizontal-divider"></div>
                </div>
            </div>
            
            <!-- TOURIST only -->
            <div *ngIf="user && user.role === 'tourist'">
                <div class="sidenav-item"> 
                    <!-- Trip history  -->
                    <button (click)="changeTitle('My purchased tours')" [routerLink]="['purchased-tours']">My Purchased Tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Private tours')" [routerLink]="['private-tours']">Private tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Private tour blogs')" [routerLink]="['private-tour-blogs']">Private tour blogs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('My campaigns')" [routerLink]="['composite-list']">My Campaigns</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Clubs')" [routerLink]="['club']">Clubs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Manage preference')" [routerLink]="['preference']">Manage preference</button>
                    <div class="horizontal-divider"></div>
                </div>
            </div>

             <!-- AUTHOR only -->
             <div *ngIf="user && user.role === 'author'">
                <div class="sidenav-item">
                    <button (click)="changeTitle('Tours')" [routerLink]="['tour']">Tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button (click)="changeTitle('Manage map objects')" [routerLink]="['map-object']">Manage Map Objects</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Tour rating')"  [routerLink]="['tour-rating']">Tour Rating</button> 
                    <div class="horizontal-divider"></div>
                </div>
            </div>

            <!-- ALL USERS -->
            <div *ngIf="user">
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Social profile')" [routerLink]="['social-profile']">Social profile</button> 
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button (click)="changeTitle('Notifications')" [routerLink]="['notifications']">Notifications</button> 
                    <div *ngIf="user && user.role === 'author' || user.role === 'administrator'" class="horizontal-divider"></div>
                </div>
            </div>
        </div>
        </mat-drawer>
      
        <mat-drawer-content>
            <div id="sidenav-content">
                <div>
                    <div class="toggle-button-position">
                        <button class="toggle-button" (click)="drawer.toggle()" mat-icon-button>
                            <mat-icon>menu</mat-icon>
                        </button>
                        <h1 style="color: #E67840; font-size: 220%; text-align: center; vertical-align: center;display: flex;margin: auto; font-weight: 600;">{{title}}</h1>
                    </div>

                </div>
                <div id="content" class="scroller">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
