<div id="my-profile">
    <mat-drawer-container autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened="true">
            <!-- ADMIN -->
            <div class="scroller">
            <div *ngIf="user && user.role === 'administrator'">
                <div class="sidenav-item"> 
                    <button [routerLink]="['accounts']">Accounts management</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['grade-review']">Grade review</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button [routerLink]="['equipment']">Manage equipment</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['checkpoint-request-review']">Requests</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['reported-issues']">Reported issues</button>
                    <div class="horizontal-divider"></div>
                </div>
            </div>
            
            <!-- TOURIST AND AUTHOR -->
            <div *ngIf="user && (user.role === 'author' || user.role === 'tourist')">
                <div class="sidenav-item"> 
                    <!-- Manage profile  -->
                    <button [routerLink]="['profile-info']">Profile information</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['my-blogs']">Manage your blogs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['reported-issues']">My Reported issues</button>
                    <div class="horizontal-divider"></div>
                </div>
            </div>
            
            <!-- TOURIST only -->
            <div *ngIf="user && user.role === 'tourist'">
                <!-- 
                <div class="sidenav-item">
                    <button [routerLink]="['shopping-cart']">Cart({{ cartItemCount }})</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button [routerLink]="['tour-overview']">Tours</button>
                    <div class="horizontal-divider"></div>
                </div>
             -->
                <div class="sidenav-item"> 
                    <!-- Trip history  -->
                    <button [routerLink]="['purchased-tours']">My Purchased Tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['private-tours']">Private tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['private-tour-blogs']">Private tour blogs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['club']">Clubs</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['preference']">Manage preference</button>
                    <div class="horizontal-divider"></div>
                </div>
            </div>

             <!-- AUTHOR only -->
             <div *ngIf="user && user.role === 'author'">
                <div class="sidenav-item">
                    <button [routerLink]="['tour']">Tours</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button [routerLink]="['checkpoint']">Manage checkpoints</button>
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item">
                    <button [routerLink]="['map-object']">Manage Map Objects</button>
                    <div class="horizontal-divider"></div>
                </div>  
            </div>

            <!-- ALL USERS -->
            <div *ngIf="user">
                <div class="sidenav-item"> 
                    <button [routerLink]="['tour-rating']">Tour Rating</button> 
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['social-profile']">Social profile</button> 
                    <div class="horizontal-divider"></div>
                </div>
                <div class="sidenav-item"> 
                    <button [routerLink]="['notifications']">Notifications</button> 
                    <div class="horizontal-divider"></div>
                </div>
            </div>
        </div>
        </mat-drawer>
      
        <mat-drawer-content>
            <div id="sidenav-content">
                <div>
                    <div class="toggle-button-position">
                        <button class="toggle-button" (click)="drawer.toggle()" mat-icon-button>
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>

                    <div class="header">
                        <!-- <h1>Content header</h1> -->
                    </div>
                </div>
                <div id="content" class="scroller">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
