<div class="tour-div">
    <div class="tour-details">
    <br>
    <p class="title">{{tour.name}}</p>
    <br>
    <br>
            <div class="infodiv">
        <div class="linfo">
            <br>
            <p class="subtitle">Information about tour 🌐</p>
            <br>
        <table class="tour-details-table">
            <tr>
                <th>Description:</th>
                <td class="descriptiontd">{{tour.description}}</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>   {{tour.price}} 🪙</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>  {{tour.status}}</td>
            </tr>
            <tr>
                <th>Dificility level:</th>
                <td>  {{tour.demandignessLevel}}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td>
                    <table>
                        <tr *ngFor="let tag of tour.tags">
                            <td>#{{tag}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Transportation:</th>
                <td>
                <table>
            <tr *ngFor="let tt of tour.tourTimes">
                <th class="transportth">{{tt.transportation}}</th>
                <td>{{(tt.distance/1000).toFixed(2)}} km</td>
                <td>{{(tt.timeInSeconds/3600).toFixed(0)}} h {{((tt.timeInSeconds%3600)/60).toFixed(0)}} min </td>

            </tr>
                </table>
                </td>
            <tr>
            <tr>
                <th>Required equipment</th>
                <td>
                    <table>
                        <thead>
                            <th class="equipmentth">Name</th>
                            <th class="equipmentthd">Description</th>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let e of tour.equipment">
                                <td>{{e.name}}</td>
                                <td>{{e.description}}</td>
        
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            
        </table>
        </div>

    <div class="equipmentdiv">
    <br>
    <p>Checkpoints 📍</p>

    <br>
    <div >
            <table class="tablecards">
                <tbody>
                    <tr *ngFor="let e of tour.checkpoints">
                        <td class="cpp">
                            <div class="cardcp">
                                <span class="cps1">
                                    <br>
                                    <div><span><span class="cps2">Name: </span>{{e.name}}</span></div>
                                    <br>
                                    <div><span><span class="cps2">Required time: </span>{{(e.requiredTimeInSeconds/3600).toFixed(0)}} h {{((e.requiredTimeInSeconds%3600)/60).toFixed(0)}} min </span></div>
                                    <br>
                                    <div><span><span class="cps2">Description: </span>{{e.description}}</span></div>
                                    <br>
                                    <hr>
                                </span>

                                <span class="cps1">
                                    <div>
                                        <table >
                                            <tr>
                                                <td>
                                                   <button class="nextbtn" (click)="OnPictureBack(e)">
                                                    <
                                                    </button>
                                                </td>
                                                <td>
                                                    <img [src]=e.showedPointPicture width="200px" height="185px" cover="fill">
                                                </td>
                                                <td>
                                                    <button class="nextbtn" (click)="OnPictureNext(e)">
                                                        >
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </span>
                            </div>  
                            <div *ngIf="e.checkpointSecret!=null" class="cardcp">
                                <button (click)="OnViewSecret(e)" class="secretb">{{e.viewSecretMessage}}</button>
                            </div>
                            <div *ngIf="e.visibleSecret" class="secretdiv">
                                <p class="secretp">Secret of this place:</p>
                                <div class="secret-span">
                                   
                                    <div>
                                        <textarea disabled>{{e.checkpointSecret?.description}}</textarea></div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                <img [src]=e.showedPicture width="100" height="100">
                                                </td>
                                                <td>
                                                <button (click)="OnNext(e)"   class="nextbtn">></button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <p class="cpmp">🧭</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                       
                    </tr>
                </tbody>
                </table>

               
    
            </div>
    </div>
    </div>
    <br>



    <div class="mapa">
    <br>
        <table>
            <tr>
                <td><span class="mapspan">🟥-🚶‍♂️   🟩-🚗    🟦-🚲</span>  </td>
                <td></td>
                <td></td>
                <td></td>


              
              
              
              
              
              
              
              
                <td><span class="transportationspan">Choose transportation: </span>
                    <span>
                        <select class="profile-select" [(ngModel)]="profile" (change)="profileChanged($event)" class="selectTransport">
                            <option *ngFor="let p of profiles" [ngValue]="p">{{p}}</option>
                        </select>
                </span>
            </td>
            </tr>
        </table>
      
    <br>
    <br>

    <xp-map></xp-map>
            <div class="routingButton">
                <br>

              
              
              

              
              
              
              
              
              
              
              
              
                <table>
                    <tr><td><br></td></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>
                            <span>
                                <button mat-raised-button class="backButton" (click)="onBack()">Back</button>
                            </span>
                        </td>
                        <td>
                            <span>
                                <button mat-raised-button class="buttonTourStatistics"  (click)="goToTourStatistics()">Tour statistics</button>
                            </span>
                        </td>
                        
                        <td> 
                            <span>
                                <button *ngIf="tour.status != 'Published'" mat-raised-button class="archiveButton" (click)="publishTour()" >Publish 🚀</button>                        
                                <button *ngIf="tour.status == 'Published'" mat-raised-button class="archiveButton" (click)="archive()">Archive 🗃️</button>
                            </span>
                        </td>
                        
                        <td>
                            <span>
                                <button mat-raised-button class="deleteButton" (click)="onDelete()">Delete🗑️</button>
                            </span>
                        </td>
                        <td>
                            <span>
                                <button mat-raised-button class="editButton" (click)="onEdit()">Edit✏️</button>
                            </span>
                        </td>

                    </tr>
                    <tr></tr>
                    <tr><br></tr>
                </table>
               
                
                </div>
            </div>

<div class="managing-tour-div">
   
</div>
</div>