.tour-details {
    width: 680px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}


th{
    width: 340px;
    text-align: center;
    background-color: #E67840;
    color: white;
}

.buttonEdit{
    width: auto;
    margin-left: 0px;
    margin-bottom: 50px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.buttonBack{
    width: auto;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color:#E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.buttonDelete{
    width: auto;
    margin-left: 170px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

td{
    width: 340px;
    text-align: center;

}
.cardcp{
    width: 600px;
    display:flex;
    column-gap: 150px;
    flex-direction: row;
    justify-content:justify;
    background-color: #B6D4AF;

}

.cps2{
font-weight: 1000;
}

.cps1{
    width: 150px;
}
#tour-title{
    font-size: 24px;
    font-weight: bold;
}

#tour-details{
    padding-top: 25px;
    padding-left: 25px;
}


.mapa{
    width: 1200px;
    height: 400px;
}

p{
    margin: 0 auto;
    font-size: 4vh;
  color:#E67840;
  padding: 1% 2.5%; 
  
}

.subtitle{
    font-size: 2vh;
  color:#E67840;
  font-style: bold;

}

.cppi{
    width: 80px;
    height: 90px;
    text-align: left;
    border: 2px solid #3B846B;

}

.cpp{
    width: 200px;
    text-align: left;
 
}
.routingButton{
    width: 1200;
    display:flex;
    margin-right: 60px;
    margin-left: 60px;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.managing-tour-div{
    width: 200px;
    height: 200px;
    border: 2px solid #E67840;
    margin: 50px auto;
    background-color: #B6D4AF;
}

.tour-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkpoint-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.managing-transport-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 100px;
    border: 2px solid #E67840;
    margin-top: 30px;
    margin-left: 300px;
    background-color: #B6D4AF;
}
.selectTransport{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: auto;
    width: 70px;
    height: 30px;
}
.profile-select{
    width: 100px;
    height: 30px;
    background-color:#fff;
    border-color:#E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}