#encounter-popup {
    font-family: 'Poppins', sans-serif;
    height: 50%;
    min-width: 200px;
    background: #B6D4AF;
}
.encounter-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.emoji{
    font-size: 55px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.close-button{
    top: 5px;
    right: 5px;
    height: 40px;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    border: none;
    cursor: pointer;
}
.button-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}