<div id="map-object">
    <div id="tour">
        <p>Choose tour by id</p><br>
    </div>
    <br>
    <br>
    <div >
        <table>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Picture</th>
            </tr>
            <tr *ngFor="let mapObject of mapObjects">
                <td>{{mapObject.latitude}}</td>
                <td>{{mapObject.longitude}}</td>
                <td>{{mapObject.name}}</td>
                <td>{{mapObject.category}}</td>
                <td>{{mapObject.description}}</td>
                <td>
                    <picture>
                        <img [src]="mapObject.pictureURL" alt="Map Object image" width="100" height="100">
                    </picture>
                </td>
                <td>
                    <button color="primary">EDIT</button>
                </td>
                <td>
                    <button color="primary" >DELETE</button>
                </td>
            </tr>
        </table>
    </div>
</div>

