<div id="tour-execution">
    <div id="top-div">
        <div class="tour-info">
            <p class="tour-name">{{tour.name}}</p><br>
            <label class="tour-info-label">Difficulty: {{tour.demandignessLevel}}</label><br>
            <label class="tour-info-label">Description: {{tour.description}} </label><br>
        </div>
        <button (click)="abandon()" class="buttonAbandon">
            Abandon ❌
        </button>
    </div>

    <div class="content">
        <div class="left-div">
            <div class="map">
                <xp-simulator (positionUpdated)="checkPosition()"></xp-simulator>
            </div>
        </div>
    
        <div class="right-div">
            <div class="available-encounter-div">
                <!-- TODO - available encounter button-->
            </div>
            
            <div class="completed-ch-div">
                <p class="title">Completed checkpoints</p>
                <div class="completed-ch-div-content">
                    <div *ngIf="completedCheckpoint.length == 0">
                        <br><br>
                        <label class="no-completed">There are no completed checkpoints yet!</label>
                        <br><br>
                    </div>
                    <table>
                        <tbody>
                            <tr *ngFor="let ch of completedCheckpoint"
                                class="checkpoint-row">
                                <td class="checkpoint">
                                    <label class="ch-title">{{ch.name}}</label>
                                    <div class="ch-img">
                                        
                                        <button class="nextbtn" (click)="OnPictureBack(ch)">
                                               
                                        </button>
                                        <img class="img" [src]=ch.showedPointPicture >
                                        <button class="nextbtn" (click)="OnPictureBack(ch)">
                                            >
                                        </button>

                                    </div>
                                    <div>
                                        <label class="ch-description">Required time: {{(ch.requiredTimeInSeconds/3600).toFixed(0)}} h {{((ch.requiredTimeInSeconds%3600)/60).toFixed(0)}} min</label><br>
                                        <label class="ch-description">Desecription: {{ch.description}}</label>        
                                    </div>
                                    
                                    <div>
                                        <button class="secretb" (click)="viewSecret(ch)" *ngIf="ch.checkpointSecret!=null">Show secret</button>
                                        <button class="secretb">Show encounter</button>
                                        <!-- TODO - see completed encounter -->
                                    </div>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    </div>


    <div>
        
        <p>Completed checkpoints:</p>
        <div>
            <div class="checkpoints-div">
                <table>
                    <tbody>
                        <tr *ngFor="let e of completedCheckpoint">
                            <td class="cpp">
                                <div class="cardcp">
                                    <span class="cps1">
                                        <br>
                                        <div><span><span class="cps2">Name: </span>{{e.name}}</span></div>
                                        <br>
                                        <div><span><span class="cps2">Description: </span>{{e.description}}</span></div>
                                        <br>
                                        <div><span><span class="cps2">Required time: </span>{{(e.requiredTimeInSeconds/3600).toFixed(0)}} h {{((e.requiredTimeInSeconds%3600)/60).toFixed(0)}} m </span></div>
                                        <hr>
                                    </span>
                                    <span class="cps1">
                                        <br>
                                        <div><span><span class="cps2">Longitude: </span>{{(e.longitude).toFixed(3)}}</span></div>
        
                                        <br>
                                        <div><span><span class="cps2">Latitude: </span>{{(e.latitude).toFixed(3)}}</span></div>
                                        <br>
                                    </span>
                                    <span class="cps1">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                       <button class="nextbtn" (click)="OnPictureBack(e)">
                                                        
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <img [src]=e.showedPointPicture width="200px" height="185px" cover="fill">
                                                    </td>
                                                    <td>
                                                        <button class="nextbtn" (click)="OnPictureBack(e)">
                                                            >
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </span>
                                </div>  
                                <div *ngIf="e.checkpointSecret!=null" class="cardcp">
                                    <button (click)="OnViewSecret(e)" class="secretb">{{e.viewSecretMessage}}</button>
                                </div>
                                <div *ngIf="e.visibleSecret" class="secretdiv">
                                    <p class="secretp">Secret of this place:</p>
                                    <div class="secret-span">
                                       
                                        <div>
                                            <textarea disabled>{{e.checkpointSecret?.description}}</textarea></div>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                    <img [src]=e.showedPicture width="100" height="100">
                                                    </td>
                                                    <td>
                                                    <button (click)="OnNext(e)"   class="nextbtn">></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div>
                                            <p class="cpmp">🧭</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                           
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>

        <div class="tour-info">
            <p class="subtitle">Available encounter</p>
            <div class="availableEncounter">
                <table *ngIf="availableEncounter">
                    <tr>
                        <td>
                            <h3>{{availableEncounter.name}}</h3>
                            <label>Type: {{availableEncounter.type}}</label>
                        </td>
                        <td>
                            <label>Status: {{availableEncounter.status}}</label><br>
                            <label>My status: {{availableEncounterExecution.status}}</label>
                        </td>
                        <td *ngIf="availableEncounter.type == 'Location'">
                            <img src="availableEncounter.image" width="60" height="40">
                        </td>
                        <td *ngIf="availableEncounter.type == 'Social'">
                            <label>Currently {{currentlyPeopleOnSocialEncounter}} people, required {{availableEncounter.requiredPeople}}</label><br>
                            <label>Range: {{availableEncounter.range}}</label>
                        </td>
                        <td>
                            <button class="button" *ngIf="availableEncounterExecution.status == 'Pending'" (click)="onActivate(availableEncounter.id || 0)">Activate</button>
                            <button class="button" *ngIf="availableEncounterExecution.status == 'Active' && availableEncounter.type != 'Social'"  (click)="onComplete()">Complete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>
                            <label>
                                {{availableEncounter.description}}
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="encounter-div">
            <p>Your active encounters:</p>
            <br><br>
                    <label>Encounters are from all your tours in progress.</label>
                    <br><br>
            <table border="1">
                <tr *ngFor="let e of encounterExecutions">
                    <td>
                        <h3>{{e.encounterDto.name}}</h3>
                        <label>Type: {{e.encounterDto.type}}</label>
                    </td>
                    <td>
                        <label>XP: {{e.encounterDto.xp}}</label>
                    </td>
                    <td *ngIf="e.encounterDto.type=='Social'">
                        To complete encounter required number is {{e.encounterDto.requiredPeople}} people in {{e.encounterDto.range}} meters range.
                    </td>
                    <td *ngIf="e.encounterDto.type=='Location'">
                        <img src="{{e.encounterDto.image}}" width="100" height="60">
                    </td>
                </tr>
            </table>
        </div>

        <div class="notification-div">
            <table border="1">
                <tr *ngFor="let n of notifications">
                    <td>Save your new position!  ⚠️</td>
                    <td>
                    ({{n}})
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
