<div id="tour-execution">
    <div id="top-div">
        <div class="tour-info">
            <p class="subtitle">Tour: {{tour.name}}</p>
            <table class="tour-info-table">
                <tr>
                    <td>Description: </td>
                    <td>{{tour.description}}</td>
                </tr>
                <tr>
                    <td>Demandigness Level: </td>
                    <td>{{tour.demandignessLevel}}</td>
                </tr>
            </table>
            <p class="subtitle">Available encounter</p>
                <table *ngIf="availableEncounter">
                    <tr>
                        <td>
                            <h3>{{availableEncounter.name}}</h3>
                            <label>Type: {{availableEncounter.type}}</label>
                        </td>
                        <td>
                            <label>Status: {{availableEncounter.status}}</label><br>
                            <label>My status: {{availableEncounterExecution.status}}</label>
                        </td>
                        <td>
                            <img src="availableEncounter.image" width="60" height="40">
                        </td>
                        <td *ngIf="availableEncounter.type == 'Social'">
                            <label>Currently {{availableEncounter.ActiveTouristsIds?.length || 0}} people, required {{availableEncounter.requiredPeople}}</label><br>
                            <label>Range: {{availableEncounter.range}}</label>
                        </td>
                        <td>
                            <button *ngIf="availableEncounterExecution.status == 'Pending'" (click)="onActivate(availableEncounter.id || 0)">Activate</button>
                            <button *ngIf="availableEncounterExecution.status == 'Active'"  (click)="onComplete()">Complete</button>
                        </td>
                    </tr>
                </table>
        </div>

        <button (click)="abandon()" class="buttonAbandon">
            Abandon ❌
        </button>

        <div class="notification-div">
            <table border="1">
                <tr *ngFor="let n of notifications">
                    <td>Save your new position!  ⚠️</td>
                    <td>
                    ({{n}})
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="simulator-div">
        <xp-simulator (positionUpdated)="checkPosition()"></xp-simulator>
        <br>
        <p>Completed checkpoints:</p>
        <div>
            <div class="checkpoints-div">
                <table>
                    <tbody>
                        <tr *ngFor="let e of completedCheckpoint">
                            <td class="cpp">
                                <div class="cardcp">
                                    <span class="cps1">
                                        <br>
                                        <div><span><span class="cps2">Name: </span>{{e.name}}</span></div>
                                        <br>
                                        <div><span><span class="cps2">Description: </span>{{e.description}}</span></div>
                                        <br>
                                        <div><span><span class="cps2">Required time: </span>{{(e.requiredTimeInSeconds/3600).toFixed(0)}} h {{((e.requiredTimeInSeconds%3600)/60).toFixed(0)}} m </span></div>
                                        <br>
                                        <hr>
                                    </span>
                                    <span class="cps1">
                                        <br>
                                        <div><span><span class="cps2">Longitude: </span>{{(e.longitude).toFixed(3)}}</span></div>
        
                                        <br>
                                        <div><span><span class="cps2">Latitude: </span>{{(e.latitude).toFixed(3)}}</span></div>
                                        <br>
                                    </span>
                                    <span class="cps1">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                       <button class="nextbtn" (click)="OnPictureBack(e)">
                                                        
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <img [src]=e.showedPointPicture width="200px" height="185px" cover="fill">
                                                    </td>
                                                    <td>
                                                        <button class="nextbtn" (click)="OnPictureBack(e)">
                                                            >
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </span>
                                </div>  
                                <div *ngIf="e.checkpointSecret!=null" class="cardcp">
                                    <button (click)="OnViewSecret(e)" class="secretb">{{e.viewSecretMessage}}</button>
                                </div>
                                <div *ngIf="e.visibleSecret" class="secretdiv">
                                    <p class="secretp">Secret of this place:</p>
                                    <div class="secret-span">
                                       
                                        <div>
                                            <textarea disabled>{{e.checkpointSecret?.description}}</textarea></div>
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                    <img [src]=e.showedPicture width="100" height="100">
                                                    </td>
                                                    <td>
                                                    <button (click)="OnNext(e)"   class="nextbtn">></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div>
                                            <p class="cpmp">🧭</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                           
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
        <div class="encounter-div">
            <table border="1">
                <tr *ngFor="let e of encounterExecutions">
                    <td>
                        <h3>{{e.encounterDto.name}}</h3>
                        <label>Type: {{e.encounterDto.type}}</label>
                    </td>
                    <td>
                        <label>XP: {{e.encounterDto.xp}}</label>
                    </td>
                    <td *ngIf="e.encounterDto.type=='Social'">
                        There are currently {{(e.encounterDto.ActiveTouristsIds || 0)}} people in {{e.encounterDto.range}}meters range.
                        To complete encounter required number is {{e.encounterDto.requiredPeople}}
                    </td>
                    <td *ngIf="e.encounterDto.type=='Location'">
                        <img src="{{e.encounterDto.image}}" width="100" height="60">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
