<div id="tour-execution">
    <div class="tour-execution-margin">
        <div id="top-div">
            <div class="tour-info">
                <p class="tour-name">{{tour.name}}</p><br>
                <label class="tour-info-label">Difficulty: {{tour.demandignessLevel}}</label><br>
                <div class="hower-expand-container">
                    <div class="hower-expand-content" [ngClass]="{'expanded': isHovered}" (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)">
                        Description: {{tour.description}}
                    </div>
                </div>
                <div id="info-table-div">
                    <table style="overflow-y: hidden;">
                        <tr>
                            <td style="width: 19%;">Required time:</td>
                            <td>
                                <table>
                                    <tr *ngFor="let e of tour.tourTimes">
                                        <th>{{e.transportation}}</th>
                                        <td style="width: fit-content;">distance: {{(e.distance/1000).toFixed(2)}} km</td>
                                        <td style="width: fit-content;">time: {{(e.timeInSeconds / 3600).toFixed(0)}} h {{((e.timeInSeconds%3600)/60).toFixed(0)}} min</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <br>
                <div *ngIf="tour.equipment.length > 0" id="info-table-div">
                    <table style="overflow-y: hidden;">
                        <tr>
                            <td style="width: 15%;">Required equipment:</td>
                            <td>
                                <table>
                                    <tr *ngFor="let e of tour.equipment">
                                        <th>{{e.name}}</th>
                                        <td>{{e.description}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="top-div-right">
                <div class="statistics-div">
                    <p *ngIf="percentage != '100'">🗺️</p>
                    <p *ngIf="percentage == '100'">🏆</p>
                    <div class="statistics">
                        <p class="number">{{percentage}} %</p><p class="text"> of this tour is completed!</p>
                    </div>
                </div>
                <br>
                <div class="button-div">
                    <button (click)="abandon()" class="button-style" *ngIf="percentage != '100'">
                        Leave tour 🏃
                    </button>
                    <button (click)="rateTour()" class="button-style" *ngIf="percentage == '100'">
                        Rate tour 💬
                    </button>
                    <button (click)="reportIssue()" class="button-style">
                        Report an Issue 🚩
                    </button>
                    <button mat-raised-button class="button-style" (click)="ShowPopup()" >Weather forecast☀️</button>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="left-div">
                <div class="map">
                    <xp-simulator (positionUpdated)="checkPosition()"></xp-simulator>
                </div>
            </div>
        
            <div class="right-div">
                <div class="available-encounter-div">
                    <button class="button-style" *ngIf="canSeeAvailableEncounter()" (click)="viewEncounter(availableEncounter.id!)">See Available Encounter</button>
                </div>
                
                <div class="completed-ch-div">
                    <p class="title">🏆 Completed checkpoints 🏆</p>
                    <div class="completed-ch-div-content">
                        <div *ngIf="completedCheckpoint.length == 0">
                            <br><br>
                            <label class="no-completed">There are no completed checkpoints yet!</label>
                            <br><br>
                        </div>
                        <table class="checkpoint-table">
                            <tbody>
                                <tr *ngFor="let ch of completedCheckpoint"
                                    class="checkpoint-row">
                                    <td class="checkpoint">
                                        <label class="ch-title">{{ch.name}}</label>
                                        <div class="ch-img">
                                            <button class="nextbtn" (click)="OnPictureBack(ch)"></button>
                                            <img class="img" [src]=getImageUrl(ch.showedPointPicture) >
                                            <button class="nextbtn" (click)="OnPictureNext(ch)">
                                                ></button>
                                        </div>
                                        <div>
                                            <label class="ch-description">Required time: {{(ch.requiredTimeInSeconds/3600).toFixed(0)}} h {{((ch.requiredTimeInSeconds%3600)/60).toFixed(0)}} min</label><br>
                                            <label class="ch-description">Description: {{ch.description}}</label>        
                                        </div>
                                        
                                        <div>
                                            <button *ngIf="ch.checkpointSecret !== null" class="secretb" (click)="viewSecret(ch)">Show secret</button>
                                            <button *ngIf="ch.encounterId !== 0" class="secretb" (click)="viewEncounter(ch.encounterId)">Show encounter</button>
                                        </div>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </div>

        

        <div *ngIf="completedEncounterExecutions.length > 0">
            <p>Encounters for this tour you already completed: </p>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <!--div class="notification-div">
                <table border="1">
                    <tr *ngFor="let n of notifications">
                        <td>Save your new position!  ⚠️</td>
                        <td>
                        ({{n}})
                        </td>
                    </tr>
                </table>
            </div -->
            <br><br>
            <p class="title">Checkpoints preview</p>
            <div class="all-checkpoints-div">
                <div class="checkpoint" *ngFor="let ch of tour.checkpoints" class="checkpoint-column">
                    <label class="ch-title">{{ch.name}}</label>
                    <div class="ch-img">
                        <button class="nextbtn" (click)="OnPictureBack(ch)"></button>
                        <img class="img" [src]=getImageUrl(ch.showedPointPicture) >
                        <button class="nextbtn" (click)="OnPictureNext(ch)">
                            >
                        </button>

                    </div>
                    <div>
                        <label class="ch-description">Required time: {{(ch.requiredTimeInSeconds/3600).toFixed(0)}} h {{((ch.requiredTimeInSeconds%3600)/60).toFixed(0)}} min</label><br>
                        <label class="ch-description">Description: {{ch.description}}</label>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
