.frame {
    border-bottom: 2px solid #253B34;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    width: 100%;
  }
  
  img {
    max-height: 16vh;
  }
  
  #buttons {
    width: auto;
    margin-left: auto;
  }
  