<div class="frame">
    <div class="flex-container">
        <img class="logo" src="assets/explorerLogo.png">
        <div id="buttons">

            <button class="button" *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['checkpoint-request-review']">Checkpoint requests</button>
            <button class="button" *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['object-request-review']">Object requests</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'author'" mat-raised-button [routerLink]="['request-notification-review']">Request notifications</button>
            <button class="button" *ngIf="user && user.username === ''"  mat-raised-button [routerLink]="['login']">Login</button>
            <button class="button" *ngIf="user && user.username !== ''"  mat-raised-button (click)="onLogout()">Logout</button>
            <button class="button"  mat-raised-button [routerLink]="['home']">Home</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['club']">Clubs</button>
            <button class="button" *ngIf="user && user.isVerified && (user.role === 'author' || user.role === 'tourist')" mat-raised-button [routerLink]="['profile-info']">Profile information</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" mat-raised-button [routerLink]="['accounts']">Accounts management</button>
            <button class="button" *ngIf="user" mat-raised-button [routerLink]="['reported-issues']">Reported issues</button>
            <button class="button" *ngIf="user" mat-raised-button [routerLink]="['reported-issue-notifications']">Notifications</button> 
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['reporting-issues']">Report an issue</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'author'" mat-raised-button [routerLink]="['checkpoint']">Manage checkpoints</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'author'" mat-raised-button [routerLink]="['map-object']">Manage map objects</button>
            <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button" *ngIf="user && user.isVerified && (user.role === 'author' || user.role === 'tourist')">Blog</button>
            <mat-menu #menu="matMenu" class="frame">
                <button mat-menu-item [routerLink]="['blogs']">All blogs</button>
                <button mat-menu-item [routerLink]="['my-blogs']">Manage your blogs</button>
            </mat-menu>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['preference']">Manage preference</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'author'" mat-raised-button [routerLink]="['tour']">Tours</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['all-tours']">See tours</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['tour-overview']">Tours</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['application-grade']">Rate the app</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" mat-raised-button [routerLink]="['grade-review']">Grade review</button>           
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['invitations']">Invitations</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'author'" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
            <button class="button" *ngIf="user && user.role === 'administrator'" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['simulator']">Simulator</button>
            <button class="button" *ngIf="user && user.isVerified && (user.role === 'author' || user.role === 'tourist' || user.role === 'administrator')"  mat-raised-button [routerLink]="['social-profile']">Social profile</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['shopping-cart']">Cart({{ cartItemCount }})</button>
            <button class="button" *ngIf="user && user.isVerified && user.role === 'tourist'" mat-raised-button [routerLink]="['purchased-tours']">Purchased Tours</button>
        </div>

    </div>
</div>