<mat-toolbar color="primary">
    <div>
        <p>Explorer</p>
        <div id="buttons">
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" color="accent" mat-raised-button (click)="onLogout()">Logout</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['club']">Clubs</button>
            <button *ngIf="user && (user.role === 'author' || user.role === 'tourist')"color="primary" mat-raised-button [routerLink]="['profile-info']">Profile information</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['accounts']">Accounts management</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['reported-issues']">Reported issues</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['reporting-issues']">Report an issue</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['checkpoint']">Manage checkpoints</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['map-object']">Manage map objects</button>
            <button *ngIf="user && (user.role === 'author' || user.role === 'tourist')"color="primary" mat-raised-button [routerLink]="['blog-comments']">Blog comments</button>
            <button *ngIf="user && (user.role === 'author' || user.role === 'tourist')"color="primary" mat-raised-button [routerLink]="['blog-post']">Manage blogs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['preference']">Manage preference</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tour']">Tours</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['application-grade']">Rate the app</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['grade-review']">Grade review</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['club']">Clubs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['invitations']">Invitations</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['tour-rating']">Tour Ratings</button>
        </div>
    </div>
</mat-toolbar>