<div class="frame">
    <div class="flex-container">
        <img class="logo" src="assets/explorerLogo.png">
        <div id="buttons">
            <button class="button"  mat-raised-button [routerLink]="['home']">Home</button>
            <button class="button" *ngIf="user && user.role === 'author'" mat-raised-button [routerLink]="['tour']">Tours</button>

            <button class="button" *ngIf="user && user.role === 'tourist'" mat-raised-button [routerLink]="['tour-overview']">Explore Tours</button>

            <button class="button" *ngIf="user && user.role === 'tourist'" mat-raised-button [routerLink]="['shopping-cart']">Cart({{ cartItemCount }})</button>
            <button class="button" *ngIf="user && user.username !== ''" mat-raised-button [routerLink]="['my-profile']">My profile</button> 
            
            <button class="button" *ngIf="user && user.username === ''"  mat-raised-button [routerLink]="['login']">Login</button>
            <button class="button" *ngIf="user && user.username !== ''"  mat-raised-button (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>