<div>
    <div id="filter">
        <button class="create-sale" *ngIf="isAuthor" mat-raised-button color="primary" (click)="createSale()">Create Sale</button>
        <div class="label-and-select">
            <label for="sortOrder">Sort Order:</label>
            <select id="sortOrder" [(ngModel)]="sortOrder" (change)="sortSales()">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>
    </div>
    <div id="tour">
        <br>
        <div id="tour-details">
            <div class="sale-card" *ngFor="let s of sales; let j = index">
                <div class="tour-info">
                    <p class="discount-description">Discount duration: {{s.start | date:'dd/MM/yyyy'}} - {{s.end |
                        date:'dd/MM/yyyy'}}</p>
                    <p class="discount-description">Discount percent: {{s.discount}} %</p>
                </div>
                <div id="tour">
                    <br>
                    <div id="tour-details">
                        <p class="tour-details-heading">Tours on sale</p>
                        <div *ngIf="s.id !== undefined">
                            <div class="tour-card" *ngFor="let t of saleToursMap[s.id]; let i = index">
                                <td (click)="openDetails(t)">
                                    <div class="tour-info">
                                        <div>
                                            <div class="tour-name"><strong>{{t.name}}</strong></div>
                                        </div>
                                        <p class="tour-description">{{t.description}}</p>
                                        <p class="tour-price">
                                            <span class="original-price">{{t.price}} AC</span>
                                            <span class="discounted-price"> {{calculateDiscountedPrice(t.price,
                                                s.discount)}} AC</span>
                                        </p>
                                    </div>
                                </td>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="buttons">
                    <button class="button" *ngIf="isAuthor" (click)="editSale(s)" color="primary" mat-icon-button> Edit
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="button" *ngIf="isAuthor" (click)="deleteSale(s.id || 0)" color="primary"
                        mat-icon-button> Delete
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>