.row {
    display: flex;
    justify-content: space-between;
}

.tour-bundle-details {
    width: 100%;
    padding: 10px;
}

.tour-bundle-list {
    width: 70%;
    overflow-y: auto;
    height: 80vh;
}

.tour-bundle-table {
    width: 100%;
}

.tour-bundle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    border-bottom: 2px solid #E67840;
    font-family: 'Poppins', sans-serif;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.informations {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Poppins', sans-serif;
}

.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
}

.amount {
    margin-right: 4px;
}

.tour-bundle:hover {
    background-color: #F7F6DC;
    cursor: pointer;
}

.title-container {
    display: flex;
    align-items: center;
}

.title {
    font-weight: 500;
    color: #E67840;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filters {
    width: 30%;
    background-color: #B6D4AF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-label {
    margin-top: 20px;
    font-size: x-large;
    font-weight: 600;
    color: #E67840;
}

.filter-fields {
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    align-items: center;
}

.filter-field {
    width: 125%;
    text-align: center;
}

.paginator {
    color: #3B846B;
    font-weight: bold;
    font-size: medium;
}

.shop-button {
    width: auto;
    margin-top: 30px;
    margin-right: 10px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%;
    color: #fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.tours {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px;
}

.tour-name {
    font-family: 'Poppins', sans-serif;
    color: #E67840;
    font-size: 20px;
    margin-left: 10px;
}

.blob {
    position: relative;
    border-radius: 50% 80% 85% 55% / 60% 40% 80% 60%;
    width: 100px;
    height: 100px;
    background-color: #E67840;
    content: '';
    margin-left: 30px;
}

.tour-price,
.tour-description {
    margin-left: 10px;
}