<div id="tour-bundles" class="row">
    <div class="tour-bundle-list">
        <table class="tour-bundle-table">
            <tr *ngFor="let tourBundle of tourBundles" class="tour-bundle">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div class="left">
                        <div class="informations">
                            <div class="title-container">
                                <label class="title"> {{ tourBundle.name }} </label>
                                <label class="tour-offer">Tours included in bundle</label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button class="shop-button" (click)="onAddToCart(tourBundle)"
                            [disabled]="isBundleInCart(tourBundle.id || 0)"
                            [ngStyle]="{'background-color': isBundleInCart(tourBundle.id || 0) ? 'gray' : '#E67840'}"> Add
                            to cart       🛒 </button>
                    </div>
                </div>
                <div class="tours-container">
                    <div class="tour-card" *ngFor="let tour of tourBundle.tours" (click)="selectTour(tour)">
                        <div class="image-container">
                            <label class="originalprice"> 💰{{tour.price}} AC </label>
                            <img src="https://i.pinimg.com/474x/e7/65/b6/e765b6897d461556d4d541796f4930e9.jpg" alt="Image1" class="tour-card-img">
                        </div>
                        <div class="card-top"><h2 class="card-header">{{tour.name}}</h2>
                         <div *ngIf="tour.tourRatings.length>0" style="height: auto; width: 22vh; display: flex; justify-content: end; margin-right: 5px;">
                            <label style="color: white; font-size: 100%; font-weight: 400; margin-right: 4px;">{{averageGrade(tour)}}</label>
                            <label *ngIf="+averageGrade(tour) < 1; else fullStar" class="star" data-text="&#9733;">&#9734;</label>
                            <label *ngIf="+averageGrade(tour) < 2; else fullStar" class="star" data-text="&#9733;">&#9734;</label>
                            <label *ngIf="+averageGrade(tour) < 3; else fullStar" class="star" data-text="&#9733;">&#9734;</label>
                            <label *ngIf="+averageGrade(tour) < 4; else fullStar" class="star" data-text="&#9733;">&#9734;</label>
                            <label *ngIf="+averageGrade(tour) < 5; else fullStar" class="star" data-text="&#9733;">&#9734;</label>
                            <ng-template #fullStar><label class="star" data-text="&#9733;">&#9733;</label></ng-template>
                          </div>
                        </div>
                        
                        <p style="color: white; margin-left: 10px; font-size: 75%; margin-bottom: 4px;">🛈{{tour.description}}</p>
                      </div>
                </div>
                <div class="price-container">
                    <label class="Oldprice">💰{{priceSum(tourBundle)}} AC</label>
                    <label class="total-price">💰{{tourBundle.price}} AC</label>
                </div>
            </tr>
        </table>
        <mat-paginator [length]="totalTourBundles" [pageSize]="pageSize" (page)="onPageChange($event)"
            class="paginator"></mat-paginator>
    </div>
</div>