<div id="requests">
    <p>Club membership requests</p>
    <hr>
    <div id="requests-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Request from</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of requests">
                    <td>Membership Request from {{ r.clubId }}</td>
                    <td>
                        <button mat-icon-button class="cancel-button">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button  mat-icon-button class="accept-button">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

