
p{
    margin: 0 auto;
    font-size: 5vh;
    font-weight:bold;
  color:#E67840;
  padding: 1% 2.5%; 
}
select{
    height: 50px;
    width : 260px;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 90px;
    
}

#encounter-form{
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    background-color:#F7F6DC;
    border-radius:20px;
    margin-top:40px;
    padding-left:40px;
    padding-right: 40px;
}

mat-form-field{
    margin-top:10px;
    width:400px
}

.type{
    font-size: 2vh;
    color:#E67840;
    font-style: bold;
    font-weight:bold;
    text-align: center;
    margin-top: 10px;
}

.type2{
    font-size: 3vh;
    color:#E67840;
    font-style: bold;
    font-weight:bold;
    text-align: center;
    margin-top: 10px;
}
.button{
    width: auto;
    margin-left: 130px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.button1{
    width: auto;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.preview-text {
    color: white; /* Changing text color to white */
    /* Additional styling as needed */
}


.map{
    width: 400px;
}

.image-container{
    margin-top:5px;
    
}

body{
    background-color: #3B846B!important;
    height: 100%;
    margin: 0;
    overflow:auto;
}