<div>
    <div class="tour">
        <div style=" height: 50px"></div>
        <h1>My campaigns</h1>
        <div>
            <table>
                <tbody>
                    <tr *ngFor="let t of compositeTours">
                        <td >
                            <div>
                                <br>
                                <div class="ch">{{t.name}}</div>
                                <br>
                                <div class="card">
                                    <div class="orange-div">
                                        <span class="cinfo">Description:</span>
                                        <br>
                                        {{t.description}}
                                    </div>
                                    <div class="orange-div">
                                        <span class="cinfo">Level:</span>
                                        <br>
                                        {{t.demandignessLevel}}
                                    </div>
                                    <div class="orange-div">
                                        <button class="orange-button" (click)="showEquipment(t)">Show Equipment</button>
                                    </div>
                                    <div class="orange-div">
                                    <button class="orange-button" (click)="showKeyPoints(t)">Show Checkpoints</button>
                                    </div>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

<!--
                                    <div>
                                        <span class="cinfo">Level:</span>
                                        <br>
                                        {{t.checkpoint.name}}
                                    </div>
                                    <div>
                                        <img [src]="t.checkpoint.pictures[0]" width="100" height="100">
                                    </div>
-->
<!--
<div style="height: 60px;"></div>
<div class="search-controls">
    <input type="range" [(ngModel)]="radius" min="100" max="10000" step="100" (input)="updateRadius()" />
    <span>{{ radius }} meters</span>
    <button mat-raised-button class="shopButton" (click)="cancelSearch()">Cancel search</button>
</div>
<div style="height: 100px;"></div>
<div style="width: 800px; height: 250px; position: relative;">
    <xp-map (mapClick)="onMapClick($event)"></xp-map>
</div>
-->
        </div>
    </div>
</div>
