<body>
<div id="checkpoint">
    <div class="checkpoint">
    <div class="table-div"  *ngIf="!shouldRenderCheckpointForm">
        <div class="info-div">
            <div>
                <p class="subtitle">Tour info</p>
                <br>
                <table class="info-table">
                    <tr *ngFor="let tt of tour.tourTimes">
                        <td>{{tt.transportation}}</td>
                        <td>{{(tt.distance/1000).toFixed(2)}} km</td>
                        <td>{{(tt.timeInSeconds/3600).toFixed(0)}} h {{((tt.timeInSeconds%3600)/60).toFixed(0)}} min </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Overall checkpoint duration:</label>
                        </td>
                        <td>
                            {{(calculateTimeForCheckpoints()/3600).toFixed(0)}} h {{((calculateTimeForCheckpoints()%3600)/60).toFixed(0)}} min
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tour">
                <button class="buttonAdd" mat-raised-button (click) = "onAddCheckpoint()">Add checkpoint ➕</button>
                <br>
            </div>
        </div>
    <table class="table-fix">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Required time</th>
                <th>Picture</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of checkpoints">
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td>{{c.latitude.toFixed(2)}}, {{c.longitude.toFixed(2)}}</td>
            <td>{{(c.requiredTimeInSeconds/3600).toFixed(2)}}h {{(c.requiredTimeInSeconds%3600/60).toFixed(0)}}min</td>
            <td>
                <picture>
                    <img [src]="c.pictures[0]" alt="Checkpoint image" width="100" height="100">
                </picture>
            </td>
            <td>
                <button class="button-table" (click)="onEdit(c)" mat-raised-button>Edit✏️</button>
            </td>
            <td>
                <button class="button-table" (click)="onDelete(c.id || 0)" mat-raised-button>Delete🗑️</button>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
        <div class="transportation-div"  *ngIf="!shouldRenderCheckpointForm">
            <xp-tour-transport-form *ngIf="checkpoints.length >= 2" (changedSelection)="updateProfiles($event)" [tourID]="tourID"></xp-tour-transport-form>
        </div>
    </div>
    <div>
        <xp-checkpoint-form *ngIf="shouldRenderCheckpointForm" [tourID]="tourID" [selectedCheckpoint]="selectedCheckpoint" (checkpointUpdated)="getCheckpoints()" [shouldEdit]="shouldEdit"></xp-checkpoint-form>
    </div>
</div>
    <div class="map-div" *ngIf="!shouldRenderCheckpointForm">
        <xp-map class="map-div" (timeAndDistance) ="getTimeAndDistance($event)"></xp-map>
    </div>
    <div class="navigation-div" *ngIf="!shouldRenderCheckpointForm">
        <button class="button" (click)="onBack()" mat-raised-button>Back</button>
        <button class="button" (click)="onNext()" mat-raised-button>Finish</button>
    </div>
</body>