table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 100px;
    text-align: center;
}

thead tr {
    background-color: #E67840;
    color: #ffffff;
    text-align: left;
    font-size: 15px;
}

th, td {
    padding: 12px 15px;
}

td{
    background-color:#F7F6DC;
}

.table-fix {
    border-collapse: collapse;
    width: 800px;
    text-align: center; /* Aligns content within the table center */
}

.table-fix th {
    border: 1px solid white;
    font-size: 15px; /* Adjust font size for header content */
}

.table-fix td {
    border: 1px solid white;
    
}

tbody tr {
    border-bottom: 1px solid 3B846B;
}

tbody tr:nth-of-type(even) {
    background-color: 3B846B;
}

tbody tr:last-of-type {
    border-bottom: 2px solid 3B846B;
}

tbody tr.active-row {
    font-weight: bold;
    color: 3B846B;
}

.checkpoint{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transportation-div{
    background-color:#F7F6DC;
}
.button-table{
    width: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0px 10px;
    width: 100px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.table-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.info-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.buttonAdd{
    width: auto;
    margin-left: 140px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 0px 10px;
    width: 250px;
    height: 60px;
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-size:16px;
    cursor: pointer;
}
.button-route{
    width: auto;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 20px;;
    padding: 0px 10px;
    width: 120px;
    height: 30px;
    font-size: 16px; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.subtitle{
    font-size: 4vh;
    font-weight: bold;
    color:#E67840;
    font-style: bold;
    margin: auto;
}

.button{
    width: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 150px;
    font-size: 150%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    font-size:16px;
    cursor: pointer;
}

.navigation-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.map-div{
    width: 1220px;
    height: 700px;
    margin-bottom: 0px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: #F7F6DC;
    border: 1px solid white;
    padding: 20px;
    padding-top: 50px;
}
.info-table{
    margin-left: 0px;
    font-size: 2vh;
    background-color: #F7F6DC;
    border: 1px solid white;
    width: 400px;
}

body{
    background-color: #3B846B!important;
    height: 100%;
    margin: 0;
    overflow:auto;
}

.titleMap{
    font-size: 4vh;
    font-weight: bold;
  color:#E67840;
  font-style: bold;
    margin-left: 120px;
    margin-top: 90px;
}
.title{
    font-size: 5vh;
    font-weight: bold;
    color:#E67840;
    font-style: bold;
    margin-top: 40px;
    margin-left: 550px;
    margin-bottom: 0px;
}

#map-container{
    width: 1220px;
    height: 600px;
}

.titleTransport{
    font-size: 3.7vh;
    font-weight: bold;
    color:#E67840;
    font-style: bold;
    margin-bottom: 30px;
}

.transportation-div-big{
    margin: auto;
    margin-top: 320px;
    margin-right: 120px;
    margin-left: -1000px;
    display: flex;
    flex-direction: column;
}

.statistics-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 180px;
    margin-left: 80px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #B6D4AF;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.number{
    width: 100%;
    text-align: center;
    background-color: #B6D4AF;
    font-size: 40px;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #253B34;
    margin: 5px;
}
.text{
    width: 100%;
    text-align: center;
    background-color: #B6D4AF;
    font-size: 24px;
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: #253B34;
    margin: 5px;
}
.emoji{
    font-size: 30px;
    margin: auto;
}