<div id="secret-popup">
    <div class="secret-title">
        <!-- <p class="cpmp">🧭</p> -->
        <h2 mat-dialog-title>Checkpoint Secret</h2>
    </div>
    
    <mat-dialog-content>
        <div>
            <table>
                <tr>
                    <td>
                        <img [src]=data.showedPicture >
                    </td>
                    <td>
                        <button (click)="OnNext(data)" class="nextbtn">></button>
                    </td>
                </tr>
            </table>
            <label class="secret-description">{{data.checkpointSecret?.description}}</label>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="close-button" mat-button [mat-dialog-close]="'close'">Close</button>
    </mat-dialog-actions>
</div>