<body>
        <h1>Checkpoint statistics</h1>
        <br>
        <div class="analytics-container">
            <br>
            <h3 class="orange-h3"><b>Tour: </b>{{tour.name}}</h3>

            <h3 class="orange-h3"><b>About tour: </b>{{tour.description}}</h3>
            <br>
        </div>
        <br>
        <br>
        <div class="chart-container">
                <canvasjs-chart [options]="chartOptionsCheckpoints"  class="chart"></canvasjs-chart>    

                <canvasjs-chart [options]="chartOptionsCheckpoints2"  class="chart"></canvasjs-chart>    
        </div>

</body>

