#preference-form {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

#preference-form-details {
    display: flex;
}

mat-radio-group {
    display: flex;
}

div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.pref-table {
    width: 100%;
    text-align: left;
    overflow-y: auto;
}

th, td {
    padding: 12px 15px;
}

.pref-table tr {
    margin-bottom: 40px;
}

.mat-icon {
    vertical-align: middle;
}

.tag{
    width: 50px;
}

#TagSpan{
    width: 350px;
    display: flex;
    gap:300px;
    flex-direction: row;
}

select{
    height: 50px;
    width : 260px;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Poppins', sans-serif;
}

#preference-form-details button {
    background-color: #3B846B;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}