<div id="preference-form">
    <form [formGroup]="preferenceForm">
        <div id="preference-form-details">
            <hr width="100%">
            Select your preferred tour difficulty
            <table class="pref-table">
                <tr>
                    <td>Difficulty: </td>
                    <td>
                       
                    <select formControlName="difficulty">
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    </td>
                    
                </tr>
            </table>
            <hr width="100%">
            Rate the modes of transportation from 1 to 3 according to your preferences
            <table>
                <tr>
                    <td>Walk:</td>
                    <td>
                        <input type="radio" formControlName="walk" value="1"> 1
                    </td>
                    <td>
                        <input type="radio" formControlName="walk" value="2"> 2
                    </td>
                    <td>
                        <input type="radio" formControlName="walk" value="3"> 3
                    </td>
                    
                </tr>
                <tr>
                    <td>Car:</td>
                    <td>
                        <input type="radio" formControlName="car" value="1"> 1
                    </td>
                    <td>
                        <input type="radio" formControlName="car" value="2"> 2
                    </td>
                    <td>
                        <input type="radio" formControlName="car" value="3"> 3
                    </td>
                    
                </tr>
                <tr>
                    <td>Bike:</td>
                    <td>
                        <input type="radio" formControlName="bike" value="1"> 1
                    </td>
                    <td>
                        <input type="radio" formControlName="bike" value="2"> 2
                    </td>
                    <td>
                        <input type="radio" formControlName="bike" value="3"> 3
                    </td>
                    
                </tr>
            </table>
            <hr width="100%">
            Add tags according to your preferences
            <form [formGroup]="tagForm">
                <div>
                    <table>
                        <tr>
                            <td>
                                <mat-form-field id="tag">
                                <mat-label>Tag</mat-label>
                                <input matInput formControlName="tag" type="text"/>
                                </mat-form-field>
                            </td>
                            <td>
                                <button id="tag"  color="primary" type="submit" (click)="addTag()" mat-raised-button>+</button>
                            </td>
                        </tr>
                        
                        
                </table>
                Added tags:
                <table>
                    <tr *ngFor="let t of tags">    
                        
                           <td>{{t}}</td>
                           
                           <td><button id="tag"  color="lightBlue" (click)="removeTag(t)" mat-raised-button>✖️</button></td>
                           
                       </tr>
                </table>
                </div>
            </form>
        <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addPreference()" mat-raised-button>Done</button>
        <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updatePreference()" mat-raised-button>Done</button>
    
        </div>
    </form>
    
    </div>
