<!-- application-grade.component.html -->
<h1>Rate the Application</h1>
<form [formGroup]="applicationGradeForm">
  <div>
    <table>
      <tr>
        <td>
          <label for="rating">Enter the rate:</label>
        </td>
        <td>
          <select formControlName="Rating" id="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="comment">Add a comment:</label>
        </td>
        <td>
          <input type="text" formControlName="Comment" id="comment">
        </td>
      </tr>
      <tr>
        <td> 
        </td>
        <td>
          <button type="submit" color="primary">Ocijeni</button>
          <!--<input type="submit" value="Submit">-->
        </td>
      </tr>
    </table>
  </div>
</form>
