#coupon-div{
    background-color: #253B34;
    min-height: 100%;
    margin: auto;
}
h1{
    font-size: 6vh;
    color:white;
    padding: 1% 2.5%; 
    margin: 0 auto;
    margin-left: 630px;
    font-weight: 400;
}

.label-data-div {
    display: flex;
    flex-direction: row;    
}

.data-div {
    padding-left: 10px;
}

.coupons-list {
    margin: auto;
    padding: 25px;
    padding-bottom: 25px;
    border: 2px solid #3B846B;
    border-radius: 10px;
}

.coupons-div {
    display: flex;
    flex-direction: row;
}

.coupon-buttons {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coupon-div {
    background-color: #B6D4AF;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 120px;
    width: 350px;
    border-radius: 10px;
}

button {
    background-color: #E67840;
    color: white;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 5px;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#create-coupon-div {
    margin: auto;
    text-align: center;
    width: 600px;
    margin-left: 600px;
}

#create-coupon-fieldset{
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #B6D4AF;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    
}

legend {
    padding-bottom: 18px;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    margin-bottom: 20px;
    border: none;
    height: 30px;
    border-radius: 100px;
}

#is-global-div {
    display: flex;
    margin-bottom: 0px;
}

#submit-button {
    margin-bottom: 20px;
    background-color: #E67840;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.5);
}

#input-radio{
    transform: scale(1.5);
    float: left;
    clear: none;
    margin: -5px 0 0 2px;
}

#label-radio{
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

.radio-container {
    float: left;
    clear: none;
}

#is-global-label {
    margin-bottom: 15px;
}

#available-tours-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.tour-name {
    display: inline-block;
    margin-right: 45px;
}

#create-coupon-button{
    width: 160px;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0px 10px;
    font-size: 100%; 
    color:#fff;
    height: 50px;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

#create-coupon-button:hover{
    background-color: #D45A15;
}

.button-table{
    width: auto;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0px 10px;
    width: 100px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.emoji{
    margin-bottom: 20px;
    margin-left: 150px;
    margin-top: 20px;
    font-size: 60px;
}

.coupons-card {
    background-color: #B6D4AF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    padding-top: 20px;
    color: #253B34;
}

.coupon-content {
    display: flex;
    flex-direction: column;
}

.label-data-div {
    margin-bottom: 8px;
    margin-left: 10px;
}

.label {
    font-weight: bold;
    color: #E67840;
    margin-right: 5px;
}

.data {
    color: #333; /* Tamnija boja za podatke */
}

.coupon-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 50px;
    margin-left: -40px;
}

button {
    font-weight: bold;
    background-color: #E67840;
    color: white;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color 0.3s ease; /* Dodao efekat prelaska boje */
}

button:hover {
    background-color: #D45A15; /* Promenjena boja na hover */
}

.coupon-buttons button {
    margin-right: 10px; /* Dodaj dodatni razmak između dugmadi */
}

.code-label,
.discount-label,
.status-label,
.expiration-label {
    font-size: 16px; /* Manje od koda */
    font-weight: normal;
    color: #4CAF50; /* Različita boja za svaku etiketu */
}

.icon-schedule {
    font-size: 18px; /* Prilagodi veličinu prema potrebi */
    vertical-align: middle; /* Postavi ikonicu vertikalno usred teksta */
    margin-left: 5px; /* Dodaj malo razmaka sa leve strane teksta */
 }

 .button-container {
    display: flex;
    gap: 10px; /* Razmak između dugmeta "Update" i "Cancel" */
    justify-content: center; /* Centriraj dugmad horizontalno */
    margin-top: 10px; /* Dodaj malo razmaka iznad dugmeta */
}

#submit-button {
    background-color: #E67840;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px 15px; /* Dodaj malo prostora oko teksta unutar dugmeta */
    font-size: 14px;
}

#submit-button:hover {
    background-color: #D45A15; /* Promeni boju prilikom hovera */
}

legend {
    color: #E67840; /* Boja naslova */
    font-size: 28px; /* Veličina fonta */
    font-weight: bold;
    margin-bottom: 10px; /* Dodaj malo razmaka ispod legende */
    margin-top: 20px; /* Dodaj beli prostor iznad legende */
}

