body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #253B34;
    height: auto;
}

.tour-card {
    width: 680px;
    background-color: #B6D4AF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.tour-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; 
    border-bottom: 2px solid #E67840; 
    padding-bottom: 10px;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tour-title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px; 
    padding-top: 2vh;
}

.tour-price {
    font-size: 18px;
    color: white;
    background-color: #E67840;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    align-self: flex-end;
    margin-bottom: 45px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #E67840;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 4vh;
    font-family: 'Poppins', sans-serif;
}

.detail-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.detail-label {
    flex-basis: 30%; 
    margin-right: 2%;
    font-weight: bold;
}

.detail-value {
    flex-basis: 68%;
    word-wrap: break-word;
}

.checkpoint-list {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.routing-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkpoint-card {
    display: flex;
    background-color: #F7F6DC;
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkpoint-card .details {
    flex: 1;
    padding: 15px;
}

.checkpoint-card .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkpoint-card .detail-label,
.checkpoint-card .detail-value {
    width: 48%;
}

.checkpoint-card .picture-container img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 5px;
}

.check-point-name {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    border-bottom: 2px solid #E67840;
    padding-bottom: 5px;
}

.equipment-list {
    margin-top: 20px; 
    display: flex;
    flex-wrap: wrap;
}

.equipment-item {
    display: flex;
    margin-right: 20px; 
    margin-bottom: 20px;
    border: 1px solid #F7F6DC;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    flex-basis: 50%;
    white-space: nowrap;
}

.equipment-item .detail-label {
    font-weight: bold;
}

.equipment-item .detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.equipment-item .detail-value {
    flex-basis: 68%;
}

.navButtonBack{
    background-color: #F7F6DC;
}

.navButtonStart{
    background-color: #253B34;
    color: #F7F6DC;
}