.comment-container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    margin-left: 40px;
    width: 300px;
    position: relative;
  }
  
  .comment-metadata {
    color: #777;
    font-size: 12px;
  }
  
  .comment-text {
    margin-top: 5px;
  }
  
  .comment-form-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    background-color: #f9f9f9;
  }
  
  textarea {
    width: 100%;
    height: 100px;
  }
  
  .comment-options {
    position: absolute;
    top: 0;
    right: 0;
  }
  .comment-options button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .comment-options-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .comment-options-menu.show {
    display: block;
  }
  
  .comment-options-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    transition: 0.3s;
    width: 60px;
  }
  
  .comment-options-menu a:hover {
    background: #f5f5f5;
  }