<div>
  <xp-blog-comment-form [shouldEdit]="shouldEdit" [blogPostId]="blogPostId" [blogComment]="selectedBlogComment" (blogCommentsUpdated)="getBlogComments()" (editingFinished)="onEditingFinished($event)"></xp-blog-comment-form>
  <div *ngFor="let comment of blogComments; let i = index" class="comment-box">
    <div class="comment-options">
      <button class="toggle-options" (click)="toggleOptions(i)" *ngIf="comment.userId == userId" title="Options"><b>...</b></button>
      <div class="comment-options-menu" [ngClass]="{'show': isOptionsVisible(i)}">
        <a (click)="onEditClicked(comment); toggleOptions(i)">Edit</a>
        <a (click)="deleteComment(comment.id || 0); toggleOptions(i)">Delete</a>
      </div>
    </div>
    <div class="blog-comment-details">
      <p class="author">Posted by {{comment.username}} </p>
      <div class="comment-metadata">
        <p class="creation-time">Created on: {{ comment.creationTime | date: 'dd.MM.yyyy'}} at {{ comment.creationTime | date: 'HH:mm'}} </p>
        <p class="modification-time" *ngIf="comment.modificationTime !== null">Last modified on: {{ comment.modificationTime | date: 'dd.MM.yyyy'}} at {{ comment.modificationTime | date: 'HH:mm'}}</p>
      </div>
    </div>
    <div class="comment-text">{{ comment.text }}</div>
  </div>
</div>