<div id="reported-issue-notification" >
    <hr>
    <div>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Created on</th>
                <th>Is Read</th>
                <th>userId</th>
                <th>Reported Issue Id</th>
                <th>Mark as read</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of notifications" color="primary" (click)="selectNotification(n)">
                <td>{{n.id}}</td>
                <td>{{n.description}}</td>
                <td>{{n.creationTime | date: 'HH:mm, dd.MM.yyyy'}}</td>
                <td>{{n.isRead}}</td>
                <td>{{n.userId}}</td>
                <td>{{n.reportedIssueId}}</td> 
                <!-- TODO -> add see details button -->
                <td>
                  <button color="accent" (click)="markAsRead(n)" mat-icon-button>
                    <mat-icon>check</mat-icon>
                  </button>
                </td>

                <td>
                  <button color="accent" (click)="deleteNotification(n.id || 0)" mat-icon-button>
                      <mat-icon>delete</mat-icon>
                  </button>
                </td>         
              </tr>
            </tbody>
          </table>
    </div>

</div>