#reported-issues {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}
#content{
    display: flex;
}
#content > div {
    flex: 1;
    width: 50%;
  }

#reported-issues-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    height: 77vh;
    overflow-y: auto;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    overflow-y: auto;
    margin-right: 10px;
}

thead tr {
    background-color: #3B846B;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3B846B;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}

.red-row {
    color:red;
  }

  .post {
    border: 3px solid #B6D4AF;;
    padding: 10px;
    padding-bottom: 0px;
    margin: 1px;
    margin-right: 20px;
    margin-left: 10px;
    height: 77vh;
    width: 40%;
    font-family: 'Poppins', sans-serif;
}

/* User Info Section */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ccc;
}

.user-name {
    font-weight: bold;
}

/* Post Content */
.post-content {
    margin-bottom: 8px;
    font-size: 120%;
    margin-left: 7px;
}