<div id="object-request-review">
    <h1>Map object requests review</h1>
    <div class="object-request-review-details">
        <table>
            <thead>
                <tr>
                    <th>Encounter name</th>
                    <th>Encounter xp</th>
                    <th>Encounter longitude</th>
                    <th>Encounter latitude</th>
                    <th>Tourist username</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let req of requestDetails">
                    <td>{{req.encounterName}}</td>
                    <td>{{req.encounterXp}}</td>
                    <td>{{req.encounterLongitude}}</td>
                    <td>{{req.encounterLatitude}}</td>
                    <td>{{req.touristName}}</td>
                    <td *ngIf="!req.onHold">{{req.status}}</td>
                    <td *ngIf="req.onHold">
                        <button mat-icon-button class="cancel-button" (click)="rejectRequest(req)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                        <button  mat-icon-button class="accept-button" (click)="acceptRequest(req)">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


