<div>
    <div class="tour">
        <div style=" height: 50px"></div>
        <h1>Tour offer</h1>
        <div id="filter">
            <div class="label-and-select">
                <input type="checkbox" [(ngModel)]="showOnlyOnSale" (change)="filterTours()" />
                <label>Show Only Tours on Sale</label>
            </div>
            <div class="label-and-select" *ngIf="showOnlyOnSale">
                <label for="sortOrder">Sort Order: </label>
                <select id="sortOrder" [(ngModel)]="sortOrder" (change)="sortToursBySale()">
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
        </div>
        <div>
            <table>
                <tbody>
                    <tr *ngFor="let t of searchTours">
                        <td (click)="openDetails(t)">
                            <div>
                                <br>
                                <div class="ch">{{t.name}}
                                <span *ngIf="t.isOnSale" class="discounted-price">(-{{t.discount}}%)</span>
                                </div>
                                <br>
                                <div class="card">
                                    <div class="tour-info">
                                        <span class="cinfo">Start: {{t.checkpoint.name}}</span>
                                        <p class="tour-description">{{t.description}}</p>
                                        <p class="tour-price">
                                            <span *ngIf="t.isOnSale" class="original-price">{{t.price}} AC</span>
                                            <span *ngIf="t.isOnSale" class="discounted-price">{{t.salePrice}} AC</span>
                                            <span *ngIf="!t.isOnSale">{{t.price}} AC</span>
                                        </p>
                                    </div>
                                    <div>
                                        <img [src]="t.checkpoint.pictures[0]" width="100" height="100">
                                    </div>
                                </div>
                                <div class="cttags">{{t.tags}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="height: 60px;">
            </div>
            <div class="search-controls">
                <input type="range" [(ngModel)]="radius" min="100" max="10000" step="100" (input)="updateRadius()" />
                <span>{{ radius }} meters</span>
                <button mat-raised-button class="shopButton" (click)="cancleSearch()">Cancel search</button>
            </div>  
            <div style=" height: 100px"></div>
            <div style="width: 800px; height: 250px; position: relative;">
                <xp-map (mapClick)="onMapClick($event)"></xp-map>
            </div>
        </div>
    </div>
</div>
