.tour {
    width: 680px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}

h1{
  font-size: 6vh;
  color:#E67840;
  padding: 1% 2.5%; 
  margin: 0 auto;

}
.tour-details {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

p {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.card{
    margin-left: 50px;
    margin-right: 50px;
    width: 680px;
    display:flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;

}

.cinfo{
    font-style: bold;
    font-size: 2vh;
    color: black;
}

td{
    border:solid 3px #3B846B;
    background-color: #B6D4AF;
    margin-bottom: 50px;

}
.ch{
    justify-content: center;
    font-size: 3vh;
    font-style: bold;
    text-align: center;

}

.cttags{
    margin-left: 50px;
    justify-content: left;
    font-size: 2vh;
    font-style: bold;
}

.shopButton{
    width: auto;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color:#E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
    margin-left: 450px;
}

.search-controls {
    position: absolute;
    width: 900px;
    height: 100px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
  }
  
  .search-controls input {
    margin-right: 10px;
  }
  
  .search-controls span {
    margin-right: 10px;
  }
  
  input[type="range"] {
    height: 18px;
    background-color:#E67840;
    appearance: none;
    border-radius: 10px; 
    outline: none;
  }

  
  