#tour-rating-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Poppins', sans-serif;
}

button[color="primary"] {
    background-color: #3B846B;
}

form button {
    display: block;
    background-color: #3B846B;
    color: #ffffff;
    border: none;
    padding: 4px 8px;
    margin: 4px 0;
    width: 100px;
}

div {
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}

p {
    font-size: 20px;
}

.rating-div{
    flex-direction: row;
    margin-left: 10%;
}

.rating-form mat-form-field {
    width: 70%;
}

.rating-form mat-form-field textarea {
    width: calc(100% - 24px);
}

.center-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #3B846B;
    box-shadow: 0 0 4px #253B34;
    margin-top: 40px;
    background-color:#F7F6DC;
}

.mat-icon {
    vertical-align: middle;
}

.image-container {
    margin-top: 20px;
    max-width: 200px; 
    max-height: 200px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}