<footer>
    <label class="slogan">Lets make memories!</label>
    <div class="content">
        <div class="left_div">
            <div class="image-container">
                <img src="assets/explorerLogo.png" alt="Logo" class="logo">
            </div>
            <p>&copy; 2023 Explorer. All rights reserved.</p>
        </div>
        <div class="column">
            <label class="subtitle">Features</label>
            <ul>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/blogs">Blogs</a></li>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/club">Clubs</a></li>
                <li><a href="/social-profile">Social profile</a></li>
                <li *ngIf="user?.role === 'administrator'"><a href="/equipment">Manage equipment</a></li>
                <li *ngIf="user?.role === 'administrator'"><a href="/grade-review">Grade review</a></li>
                <li *ngIf="user?.role === 'administrator'"><a href="/reported-issues">Reported issues</a></li>
            </ul>
        </div>
        <div class="column">
            <label class="subtitle">Tours</label>
            <ul>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/tour-overview">Search tours</a></li>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/preference">Tour preferences</a></li>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/shopping-cart">Shopping cart</a></li>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/tour-bundles">Bundle offers</a></li>
                <li *ngIf="user?.role === 'administrator'"><a href="/tour-rating">Tour rating</a></li>
            </ul>
        </div>
        <div class="column">
            <label class="subtitle">Usefull links</label>
            <ul>
                <li *ngIf="user?.role === 'tourist' || user?.role === 'author' || user?.role === ''"><a href="/application-grade">Rate the app</a></li>
                <li *ngIf="user?.role === 'administrator'"><a href="/notifications">Notifications</a></li>
                <li><a href="/home">Help</a></li>
                <li><a href="/my-profile/reporting-issues">Report an issue</a></li>
                <li><a href="/home">FAQs</a></li>                
            </ul>
        </div>
        <div class="right_div">
            <button class="support">Support</button>
        </div>
    </div>
</footer>
