#tour{
  background-image: url('./login_background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 1200px;
}
.tour-info {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

.title-top{
  color: #1e6149;
  font-size: 6vh;
  font-size: 700;
  margin-left: 600px;
  margin-bottom: 20px;
}
.tourName {
    font-size: x-large;
    color: white;
    padding: 1% 2.5%; 
    background-color: #1b332b8e;
    display: flex;
    text-align: center;
    width: 100px;
    margin-left: 1px;
    margin-top: 10px;
    margin-right: 30%;
    border-radius: 5px;
}

button[color="primary"] {
    background-color: #3B846B;
    color: white;
}

button[color="primary"]:hover {
    background-color: #253B34;
    color: white;
}

.tour-card2 {
    flex: 0 0 0 0 calc(33.33% - 20%);
    background-color: #B6D4AF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #3B846B15;
    color: white;
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    margin-top: 30px;
    padding: 10px;
}

.tours-card{
  flex: 0 0 0 0 calc(33.33% - 20%);
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #3B846B15;
    color: white;
    text-align: left;
    margin: 10px;
    border-radius: 5px;
    width: 30%;
    margin-top: 30px;
    padding: 10px;
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f51b5;
}

tbody tr.active-row {
    font-weight: bold;
    color: #3f51b5;
}

#empty-cart-message {
  text-align: center;
  font-size: x-large;
  color: white;
  padding: 1% 2.5%;
  background-color: #3B846B;
  display: flex;
  text-align: center;
  width: fit-content;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

/*Kolicina u korpi*/
/* Stilizacija za elemente za promenu količine */
/*.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .qty {
    display: inline-block;
    font-size: 1.2em;
    width: 2em;
    height: 2em;
    border: 1px solid #ccc;
    background-color: #ecf0f1;
    text-align: center;
    cursor: pointer;
    border-radius: 50%; 
  }
  
  .qty-plus {
    margin-left: 0.2em;
  }

  .qty-minus {
    margin-right: 0.2em;
  }
  
  .qty:hover {
    background-color: #43ace3;
    color: #fff;
  }
  
  .numeric-input {
    border: 1px solid #ccc;
    padding: 0.2em 0.3em;
    font-size: 1.2em;
    text-align: center;
    width: 3em;
  }
  */
.tours-heading{
    justify-content: left;
    font-size: 36px;
    color:#E67840;
    font-weight: 600;
    margin-top: 6vh;
    margin-left: 2vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
}

.tours-heading button {
  margin-right: 10px; /* Dodaje razmak između dugmadi po potrebi */
}

.row {
  background-color: #3B846B;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  height: auto;
  min-height: 100%;
}

.tour-bundle-details {
  width: 100%;
  padding: 10px;
}

.tour-bundle-list {
  width: 70%;
  left: auto;
  right: auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80%;
}

.tour-bundle-table {
  width: 80%;
  max-width: 80%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tour-bundle {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F7F6DC;
  justify-content: start;
  height: auto;
  border: 3px solid #E67840;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: rgb(37, 60, 53, 0.8);
  border: #1e6149 solid 3px;
  border-radius: 10px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.informations {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-family: 'Poppins', sans-serif;
}

.tour-horizontal-container {
display: flex;
left: auto;
width: auto;
right: auto;
overflow-x: scroll;
padding-top: 10px;
padding-bottom: 25px;
padding-left: 10px;
padding-right: 10px;
border-radius: 10px;
column-gap: 2.5%;
margin-left: 20px;
margin-right: 20px;
grid-row: auto;
justify-content: start;
max-width: 100%;
}
::-webkit-scrollbar {
width: 12px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
background-color: #E67840; /* Color of the thumb */
border-radius: 10px; /* Rounded corners */
}

/* Track (the area on which the thumb moves) of the scrollbar */
::-webkit-scrollbar-track {
background-color: #B6D4AF; /* Color of the track */
border-radius: 10px;
}

/* .price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
} */

.amount {
  margin-right: 4px;
}


.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  color: #E67840;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.tour-offer{
  font-weight: 400;
  color: #E67840;
  font-size: 20px;
}


.paginator {
  margin-top: -10px;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #3B846B;
  margin-bottom: 10px;
}

.shop-button {
  margin-top: 0px;
  margin-right: 0px;
  padding: 0px 10px;
  width: 150px;
  font-size: 100%;
  color: #fff;
  background-color: #E67840;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 30px;
  cursor: pointer;
}
.tours-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  overflow-y: auto;
  height: auto;
}
.tours {
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.tours:hover{
  cursor: pointer;
  scale: 1.05;
}

.tour-name {
  font-family: 'Poppins', sans-serif;
  color: #E67840;
  font-size: 20px;
  margin-left: 10px;
}


.tour-price,
.tour-description {
  margin-left: 10px;
}
.price-container{
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.total-price{
  font-size: 150%;
  color: #E67840;
  font-weight: 600;
}

.OldPrice {
  width: fit-content;
  font-size: 80%;
  color: #E67840;
  opacity: 0.9;
  font-weight: 200;
  border-radius: 3px;
  font-size: 125%;
  position: relative;
  margin-right: 20px;
}

.OldPrice::before {
content: "";
position: absolute;
top: 5%;
left: 5%;
right: 5%;
bottom: 5%;
width: 90%;
height: 90%;
background: linear-gradient(to top left, transparent 47.5%, red 47.5%, red 52.5%, transparent 52.5%);
}




.tour-card {
  background-color: #253B34;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px #3b846b15;
  color: #000;
  text-align: left;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px;
  margin-bottom: 0px;
  width: 30%;
  max-width: 450px;
  cursor: pointer;
  height: 46vh;
  max-height: 400px;
  min-width: 40vh;
}
.tour-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}
.star {
  font-size:120%;
  color: #B6D4AF; /* Make the text inside transparent */
  position: relative;
  display: inline-block;
}
.card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image-container {
  position: relative;
  display: inline-block;
  height: 55%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.tour-card-img { 
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover; 
}
.card-location-header{
  font-size: 80%;
  color: white;
  padding-top: -1%;
  padding-bottom: -1%;
  padding-left: 2%;
  padding-right: 2%; 
  background-color: #1b332b8e;
  max-width: 60%;
  text-wrap: nowrap;
  height: auto;
  overflow-x: hidden;
  margin-left: 10px;
  border-radius: 5px;
}

.card-header{
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  font-size: 120%;
  margin-bottom: 4px;
}
.price{
  background-color: #E67840;
  padding: 2px;
  color: white;
  font-weight: 300;
  border-radius: 3px;
}
.originalprice{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 120%;
  background-color: #E67840;
  padding: 2px;
  color: white;
  font-weight: 300;
  border-radius: 3px;
}
.Oldprice {
  width: fit-content;
  padding: 2px;
  margin-bottom: 5px;
  background-color: #E67840;
  font-size: 80%;
  color: lightgray;
  opacity: 0.9;
  font-weight: 200;
  border-radius: 3px;
  position: relative;
}

.Oldprice::before {
content: "";
position: absolute;
top: 5%;
left: 5%;
right: 5%;
bottom: 5%;
width: 90%;
height: 90%;
background: linear-gradient(to top left, transparent 47.5%, red 47.5%, red 52.5%, transparent 52.5%);
}
.prices{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 120%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sale{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.discount{
  background-color: red;
  padding: 2px;
  color: white;
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: -4px;
}
.last_minute{
  height: 4vh;
  width: 7vh;
  object-fit: cover;
  overflow: hidden;
  margin-left: auto;
  border-radius: 3px;
}

.status{
  font-size: 15px;
  color: #E67840;
  padding: 3px;
  margin-right: 3px;
}

.manage-container{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.tour-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
}

.edit-button{
  width: auto;
  margin-left: 0px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 0px 10px;
  width: 100px;
  font-size: 100%; 
  color:#fff;
  background-color: #E67840;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  cursor: pointer;
}