<html>
    <body>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div>
                <p class="form-header" style="color: aliceblue;">Log in</p>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" type="text"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password"/>
                </mat-form-field>
            <button class="submit-button" type="submit" mat-raised-button>Login</button>
            <p style="color: aliceblue;">Don't have an account yet?<a href="/register" class="signup-link" style="color: aqua;">Sign Up</a></p>
            </div>
        </form>
        
        <div class="forgot-password-section">
            <p style="color: aliceblue;">Forgot password?
                <button class="submit-button" type="button" (click)="sendEmail()" mat-raised-button>Reset password</button>
            </p>
            <p *ngIf="enterUsername" style="color: aliceblue;">Please, enter your username and click the 'Reset password' button.</p>
            <p *ngIf="sentEmail" style="color: aliceblue;">We have sent you an email containing a link through which you can reset your password. You can reset your password in the next two hours.</p>
        </div>
    </body>
</html>