body {
    margin: 0;
    padding: 0;
    background-image: url('./login_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.submit-button {
    background-color: #E67840 !important;
    color: white;
    width: 50%;
    align-self: center;
    border-radius: 15px;
    margin-top: 10%;
}

div {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 61, 54, 0.65);
    border-radius: 15px;
    max-height: 530px;
}

.form-header {
    font-size: 52px;
    padding: 10%;
    margin-left: 21%;
}

p {
    margin-top: 10px;
    margin-left: 16%;
}

p a {
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    form {
        height: auto;
    }

    .submit-button {
        width: 100%;
    }
}

.forgot-password-section {
    text-align: center;
    margin-top: -25%;
    margin-left: 10%;
}

.password-link{
    display: flex;
    margin-bottom: -5vh;
    margin-top: 0vh;
}