div {

    width: 500px;
    display:flex;
    gap: 15px;
    flex-direction: column;
    background-color:#B6D4AF;
    border-radius:20px;
}

.mat-icon {
    vertical-align: middle;
}

.tag{
    width: 50px;
}
mat-form-field {
    font-size: 22px; /* Adjust the font size as needed */
  }
  mat-form-field textarea{
    font-size: 22px; /* Adjust the font size as needed */
    height: 200px;
  }

#TagSpan{
    width: 350px;
    display: flex;
    gap:300px;
    flex-direction: row;
}

select{
    height: 50px;
    width : 210px;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

option:checked{
    background-color: #E67840;
}

.button{
    width: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0px 90px;
    margin-left:40px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    font-size:20px;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}
.buttonPlus{
    margin-top:8px;
    margin-right:50px;
    height:42px;
    width: 10px;
    font-size: 200%; 
    color:#fff;
    gap:120px;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1000px;
    cursor: pointer;  
}

.subtitle{
    font-size: 28px;
    font-weight: bold;
  color:white;
  font-style: bold;
  text-align: left;

}
.demandignessLevel{
    font-size: 38px;
    color:white;
    font-style: bold;
    margin-top: 20px;
    font-weight: bold;
}

#tour-form{
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    padding-left:30px;
    padding-right: 140px;
    margin-top:40px;
    
}

.routingButton{
    width: 400px;
    
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin: 0 auto;
    font-size: 4vh;
  color:white;
  padding: 0px 10px;
  
}

.para-t{
    
    padding: 5px;
    font-size: 4vh;
  color:white;
   
  font-weight:bold;
}

.bigger-tag{

    font-size: 26px;
    color:white;
}

.difficulty-select {
    /* Change the select border color to orange */
    border-color: #E67840;
    /* Change select font */
    font-size: 30px;
    height: 60px;
    width: 300px;
    color:#E67840;
    font-style: bold;
    text-align: center;
    /* Adjust the padding and margin if needed */
    padding: 5px;
    margin-left: 120px;
    margin-right: 0px;
    margin-bottom: 20px;

    /* Change the select arrow color */
    
  }
