div {
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: column;
}

.mat-icon {
    vertical-align: middle;
}

.tag{
    width: 50px;
}

#TagSpan{
    width: 350px;
    display: flex;
    gap:300px;
    flex-direction: row;
}

select{
    height: 50px;
    width : 260px;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

