.row-hover:hover {
    background-color: #3b846b6e;
    cursor: pointer;
}
.filters{
    position: absolute;
    left: auto;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.filters-label{
    font-size: large;
    font-weight: 600;
    color: #253B34;
}

.paginator {
    color: #3b846b6e;
    font-weight: bold;
}
