<body>
    <div id="blog-post">
        <div class="center-container">
            <div class="voting-container">
                <button *ngIf="blogPost.status.toUpperCase() !== BlogPostStatus.Closed" class="circle-button" [class.upvoted]="upvoted" (blogPostUpdated)="getBlogPost()"
                    (click)="onUpvoteClicked()" mat-icon-button>
                    <mat-icon>arrow_upward</mat-icon>
                </button>
                <div class="vote-count">
                    <p>Votes: {{netVoteCount}}</p>
                </div>
                <button *ngIf="blogPost.status.toUpperCase() !== BlogPostStatus.Closed" class="circle-button" [class.downvoted]="downvoted" (blogPostUpdated)="getBlogPost()"
                    (click)="onDownvoteClicked()" mat-icon-button>
                    <mat-icon>arrow_downward</mat-icon>
                </button>            
            </div>
            <div class="blog-post-details">
                <div class="author-time-details">
                    <p class="author"> Posted by: {{ blogPost.username }}</p>
                    <p> on {{ blogPost.creationDate | date:'dd.MM.yyyy' }} at {{ blogPost.creationDate | date:'HH:mm' }}</p>
                </div>
                <div class="title">
                    <p>{{ blogPost.title }}</p>
                </div>
                <hr>
                <p>Status: <i>{{ blogPost.status }}</i></p>
                <div class="image-container">
                    <img *ngFor="let imageUrl of blogPost.imageUrls" [src]="imageUrl" alt="Image">
                </div>
                <div [innerHTML]="blogPost.description"></div>
            </div>
        </div>
        <div>
            <xp-blog-comment-form [blogPostId]="blogPost.id" (commentAdded)="getBlogPost()"></xp-blog-comment-form>
        </div>
        <div class="blog-comments" *ngIf="blogPost.comments && blogPost.comments.length">
            <div *ngFor="let comment of blogPost.comments">
                <div class="comments">
                    <xp-blog-comment *ngIf="blogPost.status.toUpperCase() !== BlogPostStatus.Closed" [blogPostId]="blogPost.id" [comment]="comment" (commentUpdated)="getBlogPost()"></xp-blog-comment>
                </div>
            </div>
        </div>
        <div *ngIf="!blogPost.comments || blogPost.comments.length === 0">
            <p>No comments yet.</p>
        </div>
    </div>
</body>