<div id="simulator">
    <p>Simulator - click on map to mark your current position!</p>
    <div class="legend-div">
        <div class="transport-div">
            <table>
                <tr>
                    <td>🟥</td>
                    <td>-</td>
                    <td>🚶‍♂️</td>
                    
                    <td>🟩</td>
                    <td>-</td>
                    <td>🚗</td>

                    <td>🟦</td>
                    <td>-</td>
                    <td>🚲</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="map"> 
        <xp-map  (mapClick)="onMapClick($event)"></xp-map> 
    </div>
    
</div>