#checkpoint{
    width: 500px;
    display:flex;
    gap: 15px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#F7F6DC;
    border-radius: 20px;
    padding-left:30px;
    padding-right: 30px;
}
.upload-btn:hover {
    background-color: #13543d;
    color: white
}
.subtitle{
    margin: 0 auto;
    font-size: 4vh;
  color:#E67840;
  font-weight:bold;
  padding: 1% 2.5%; 
  margin-top: 40px;

}

.adress-input {
    height: 50px; /* Set the height as needed */
    width: 300px; /* Set the width as needed */
    font-size: 18px; /* Set the font size as needed */
    /* Additional styles if necessary */
  }

.time{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.buttonPlus{
    width: auto;
    margin-top: 0px;
    margin-left: 15px;
    width: 30px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}
.address-input{
    width: 180px;
    height: 80px;
}

.location{
    display: flex;
    flex-direction: row;
    gap: 10px
}
.routingButton{
    width: 400px;
    display:flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
}
.button:hover{
    background-color: #dc4900;

}
.buttonPlus:hover{
    background-color: #dc4900;

}
.button{
    width: auto;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 130px;
    font-size: 100%; 
    color:#fff;
    font-size:16px;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

p{
    color:#E67840;
    font-weight: bold;
    font-size:16px;
}

select{
    height: 50px;
    width : 210px;
    background-color: #ededed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 0;
}

mat-form-field {
    height: 90px;
    width: 210px; /* Adjust width as needed */
    margin-bottom: 10px; /* Add spacing between form fields */
  }

.map-div{
    height: 600px;
}

.file-input {
    display: none;
}

.upload-btn {
    background-color: #3B846B;
    color: white
}
