<form [formGroup]="checkpointForm">
    <div id="checkpoint">
        <p class="subtitle">Create checkpoint</p>
        <br>
        <p>Choose one of public checkpoints: </p>
        <select (selectionChange)="onPublicCPChange($event)" formControlName="publicCP">
            <option *ngFor="let p of publicCheckpoints" [ngValue]="p.id">{{p.name}}</option>
        </select>
        <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description:</mat-label>
            <input matInput type="text" formControlName="description">
        </mat-form-field>
        <p>Required time:</p>
        <div class="time">
            <mat-form-field>
                <mat-label>hours</mat-label>
                <input matInput type="number" min="0" step="1" formControlName="hours">
            </mat-form-field>
            <mat-form-field>
                <mat-label>minutes</mat-label>
                <input matInput type="number" min="0" max="60" step="5" formControlName="minutes">
            </mat-form-field>
        </div>
        <p>Input address or choose on map:</p>
        <div class="address">
            <p>Address:     </p>
            <input matInput type="text" formControlName="address" class="adress-input">
            <button class="buttonPlus" (click)="onAddAddressClick()" mat-raised-button>✔</button>
        </div>
        <div class="map-div">
            <xp-map (mapClick)="onMapClick($event)"></xp-map>
        </div>
        <div class="location">
            <mat-form-field>
                <mat-label>Longitude:</mat-label>
                <input matInput type="number" formControlName="longitude">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Latitude:</mat-label>
                <input matInput type="number" formControlName="latitude">
            </mat-form-field>
        </div>

        <input type="file" (change)="onImageSelected($event)" class="file-input" multiple #fileUpload/>
        <div class="file-upload">
            <button mat-flat-button class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>insert_photo</mat-icon>
                <span>Upload images</span>
            </button>
        </div>

        <div class="image-container" *ngIf="picturePreview && picturePreview.length > 0">
            <img *ngFor="let image of picturePreview" [src]="image" alt="Image" style="max-width: 200px; max-height: 200px;">
        </div>

            <mat-form-field *ngIf="!shouldEdit">
                <label>Checkpoint status</label>
                <mat-select formControlName="status">
                  <mat-option value="Private">Private</mat-option>
                  <mat-option value="Public">Public</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="routingButton">
                <button (click)="onBack()" class="button" mat-raised-button>Back</button>
                <button *ngIf="!shouldEdit" class="button" (click)="addCheckpoint()" mat-raised-button>Add checkpoint</button>
                <button *ngIf="shouldEdit" class="button" (click)="updateCheckpoint()" mat-raised-button>Next</button>
        
            </div>
    </div>
</form>
        