<div id="club">
    <p>Club</p>
    <hr>
    <div id="club-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Image </th>
                    <th> Owner </th>
                    <th> Edit </th>
                    <th> Delte </th>
                    <th> Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of club">
                    <td>{{c.name}}</td>
                    <td>{{c.description}}</td>
                    <img [src]="c.image" alt="Club Image">
                    <td>{{c.touristId}}</td>
                    <td>
                        <button *ngIf="isCurrentUserOwner(c)" (click)="onEditClicked(c)" color="primary" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="isCurrentUserOwner(c)" (click)="deleteClub(c.id || 0)" color="accent" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button (click)="navigateToClubMembershipRequests(c.id!)"> Manage requests</button>
                    </td>
                </tr>
                <tr>
                    <button (click)="onAddClicked()" color="primary" mat-icon-button>
                        <mat-icon>add</mat-icon>
                    </button>
                </tr>
                <tr>
                    <button *ngIf="shouldAdd || shouldEdit" (click)="onCloseClicked()" color="warn" mat-icon-button>
                        <mat-icon>remove</mat-icon>
                    </button>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <br>
    <div>
        <xp-club-form *ngIf="shouldAdd || shouldEdit" (clubUpdated)="getClub()" [club]="selectedClub" [shouldEdit]="shouldEdit"></xp-club-form>
    </div>
</div>