.comment-form {
  padding: 8px;
  width: 782px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border: 2px solid #3B846B;
  background-color: #3B846B;
  box-shadow: 0 0 4px #253B34;
}

.form-button {
  width: 20px; 
  margin-right: 20px;
}

.comment-field {
  padding: 10px;
  height: auto;
  width: 650px;
  font-size: 120%;
  border: 1px solid #3B846B;
  background-color:#3B846B;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.comment-field:focus {
  border: none;
  outline: none;
}

.comment-field::placeholder {
  color: rgba(255, 255, 255, 0.575);
}

.comment-button {
  padding: 0px 10px;
  width: 110px;
  font-size: 100%;
  color:#fff;
  background-color: #E67840;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 5px;
}