<html>
<head>
 
</head>
<body>
  <div class="video-container">
    <video autoplay muted loop id="background-video">
      <source src="assets/landing_page/backgroundv.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="content">
    <div class="tour-cards-container">

      <div class="tour-card">
        <img src="assets/landing_page/jahorina.jpg" alt="Image1" class="img">
        <label class="card-location-header">Jahorina</label>
        <h2 class="card-header">3-Hour Tour on the Olympic Mountain Jahorina</h2>
      </div>
      <div class="tour-card">
        <img src="assets/landing_page/perast.jpg" alt="Image2">
        <label class="card-location-header">Perast</label>
        <h2 class="card-header">Visit the most beautiful city in the world</h2>
      </div>
      <div class="tour-card">
        <img src="assets/landing_page/novisad.jpg" alt="Image3">
        <label class="card-location-header">Novi Sad</label>
        <h2 class="card-header">The city of culture</h2>
      </div>
      <div class="tour-card">
        <img src="assets/landing_page/bali.jpg" alt="Image4">
        <label class="card-location-header">Bali</label>
        <h2 class="card-header">Enjoy at the most exotic destinations</h2>
      </div>
    </div>
  </div>
</body>
</html>
