<div id="create-coupon-div">
    <form id="create-coupon-form" (ngSubmit)="onSubmitForm()">
        <fieldset id="create-coupon-fieldset">
            <legend>Create coupon</legend>

            <label for="discount-percentage">Discount percentage:</label>
            <input id="discount-percentage" type="number" step="10" min="0" max="100" required [(ngModel)]="discountPercentage" name="discountPercentage">

            <label for="expiration-date">Expiration date:</label>
            <input id="expiration-date"  type="date" required [(ngModel)]="expirationDate" name="expirationDate">

            <div class="checkbox-container">
                <input id="is-global"  type="checkbox" checked="checked" [(ngModel)]="isGlobal" name="isGlobal">
                <label id="is-global-label" for="is-global">Is global</label>
            </div>

            <!-- Add available tours -->
            <div id="available-tours-div" *ngIf="!isGlobal">
                <label>Available tours:</label>
                <ul>
                    <li class="tour-name" *ngFor="let t of tours"> 
                        <div class="radio-container">
                            <input id="input-radio" type="radio" name="selectedTour" [(ngModel)]="selectedTourId" [value]="t.id">
                            <label id="label-radio" for="input-radio">{{t.name}}</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="button-container">
                <input id="submit-button" class="update-button" type="submit" value="Create">
                <button type="button" class="cancel-button" (click)="cancelUpdate()">Cancel</button>
            </div>        
        </fieldset>
    </form>
</div>