<html>
<body>
<div class="coupon">
<div id="create-coupon-div">
    <form id="create-coupon-form" (ngSubmit)="onSubmitForm()">
        <fieldset id="create-coupon-fieldset">
            <br>
            <p class="para-t">Create coupon</p>
            <br>
            <mat-form-field>
                <mat-label>Discount percentage</mat-label>
            <input matInput type="number" step="10" min="0" max="100" required [(ngModel)]="discountPercentage" name="discountPercentage">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Expiration date</mat-label>
            <input matInput type="date" required [(ngModel)]="expirationDate" name="expirationDate">
        </mat-form-field>
            <div class="checkbox-container">
                <input id="is-global"  type="checkbox" checked="checked" [(ngModel)]="isGlobal" name="isGlobal">
                <label >Is global</label>
            </div>

            <!-- Add available tours -->
            <div id="available-tours-div" *ngIf="!isGlobal">
                <label class="available">Available tours:</label>
                <ul>
                    <li class="tour-name" *ngFor="let t of tours"> 
                        <div class="radio-container">
                            <input id="input-radio" type="radio" name="selectedTour" [(ngModel)]="selectedTourId" [value]="t.id">
                            <label id="label-radio" for="input-radio">{{t.name}}</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="button-container">
                <button  class="button" type="submit" mat-raised-button>Create</button>
                <button type="button" class="button" (click)="cancelUpdate()" mat-raised-button>Cancel</button>
            </div>        
        </fieldset>
    </form>
</div>
</div>
</body>
</html>
