#reporting-issues {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

#reporting-issue-details {
    display: flex;
    width: 400px;
    gap: 20px;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.mat-icon {
    vertical-align: middle;
}

#reporting-issue-details button {
    background-color: #3B846B;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}