<div id="reporting-issues">
<form [formGroup]="reportingIssueForm">
    <div>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput formControlName="category" type="text"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput formControlName="time" type="datetime"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Priority</mat-label>
            <input matInput formControlName="priority" type="number"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tour</mat-label>
            <input matInput formControlName="tourId" type="number"/>
        </mat-form-field>
    <button color="primary" type="submit" (click)="addReportedIssue()" mat-raised-button>Done</button>
    </div>
</form>
</div>
