<div id="account">
    <h1>Account management</h1><br>
    <div id="account-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Is active</th>
                        <th></th>
                        <th>AC balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of bindingAccounts">
                        <td>{{a.username}}</td>
                        <td>{{getRoleString(a.role)}}</td>
                        <td>{{a.email}}</td>
                        <td>{{a.isActive}}</td>
                        <td><input type="button" *ngIf="a.isActive" (click)="blockAccount(a.id)" value="Block" style="border-radius: 12px;"/></td>
                        <td *ngIf="isTourist(a.role)">{{a.adventureCoins}}</td>
                        <td *ngIf="isTourist(a.role) && a.isActive">
                            <input type="number" [(ngModel)]="a.paymentCoins" style="width: 40px" min="1">
                            <input type="button" (click)="pay(a)" value="Pay" style="border-radius: 12px;"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>