#tour-rating-form{
    font-family: 'Poppins', sans-serif;
}

button[color="primary"] {
    background-color: #3B846B;
}

.button{
    width: 50px;
    margin-top: 50px;
    padding: 0px 90px;
    margin-left:40px;
    font-size: 100%; 
    color:#fff;
    font-size:20px;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

#tour-rating-form {
    background-color: #3B846B;
    height: 100%;
    overflow: auto;
}

body {
    background-color: #3B846B;
}

.center-container { 
    width: 500px;
    display:flex;
    gap: 2px;
    flex-direction: column;
    background-color:#F7F6DC;
    border-radius:10px;
    margin-left: 450px;
    height: 500px;
    margin-left: 600px;
}

.naslov{
    padding: 5px;
  font-size: 4vh;
  color:#E67840;  
  font-weight:bold;
}

.rating-div1{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0%;
    width: fit-content;
}

.mat-icon {
    vertical-align: middle;
}

p {
    font-size: 20px;
}
.rating-div{
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rating-form mat-form-field {
    width: 70%;
}

.rating-form mat-form-field textarea {
    width: calc(100% - 24px);
}

.center-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #3B846B;
    box-shadow: 0 0 4px #253B34;
    margin-top: 40px;
}

.mat-icon {
    vertical-align: middle;
}

.image-container {
    margin-top: 20px;
    max-width: 200px; 
    max-height: 120px;
    overflow: hidden;
    overflow-y: auto;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.image-div{
    margin-bottom: 30px;
}