<div id="tour-rating-form">
    <form class="rating-form" [formGroup]="tourRatingForm">
        <div class="center-container">
            <p>Add new rating</p>
            <mat-form-field>
                <mat-label>Tour Id</mat-label>
                <input matInput formControlName="tourId" type="number" [defaultValue]="0" min="0" placeholder="0"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tour Date</mat-label>
                <input matInput formControlName="tourDate" type="datetime"/>
            </mat-form-field>
            
            <!-- TODO -> TourDate datepicker -->
            <!-- <mat-form-field>
                <mat-label>Choose a Tour Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button (click)="picker.open()">Open</button>
            -->
            
            <mat-form-field>
                <mat-label>Rating</mat-label>
                <input matInput formControlName="rating" type="number" [defaultValue]="1" min="1" max="5" placeholder="1"/>
                <!-- TODO -> radio buttons instead of input -->
                <!-- <mat-radio-group formControlName="rating">
                    <mat-radio-button *ngFor="let rate of ratings" [value]="rate">{{rate}}</mat-radio-button>
                </mat-radio-group> -->
            </mat-form-field>
            <mat-form-field>
                <mat-label>Comment</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    formControlName="comment"
                    cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <!-- image upload  -->
            <div class="image-div">
                <input type="file" (change)="onImageSelected($event)" id="fileInput" multiple />
                <div class="image-container" *ngIf="!shouldEdit && imagePreview && imagePreview.length > 0">                        
                    <img *ngFor="let image of imagePreview" [src]="image" alt="Image">                    
                </div>
                <div class="image-container" *ngIf="shouldEdit && rating.imageNames && rating.imageNames.length > 0">
                    <img *ngFor="let imageName of rating.imageNames" [src]="getImageUrl(imageName)" alt="Image">
                </div>
                <!-- <button id="picture" (click)="removeImage(image)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button> -->
            </div>
        <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addTourRating()" mat-raised-button>Done</button>
        </div>
    </form>
</div>