<div id="tour-rating-form">
    <form class="rating-form" [formGroup]="tourRatingForm">
        <div class="center-container">
            <br><br><p>Add new rating</p>
            <div>
                <div class="rating-div">
                    <label>Rating</label> 
                    <mat-radio-group formControlName="rating">
                        <label *ngFor="let rating of [1, 2, 3, 4, 5]" class="radio-label">
                        <mat-radio-button [value]="rating">{{ rating }}</mat-radio-button>
                        </label>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <mat-label>Comment</mat-label>
                        <textarea matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        formControlName="comment"
                        cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <!-- image upload  -->
                <div class="image-div">
                    <input type="file" (change)="onImageSelected($event)" id="fileInput" multiple />
                    <div class="image-container" *ngIf="!shouldEdit && imagePreview && imagePreview.length > 0">                        
                        <img *ngFor="let image of imagePreview" [src]="image" alt="Image">                    
                    </div>
                    <div class="image-container" *ngIf="shouldEdit && rating.imageNames && rating.imageNames.length > 0">
                        <img *ngFor="let imageName of rating.imageNames" [src]="getImageUrl(imageName)" alt="Image">
                    </div>
                </div>
                <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addTourRating()" mat-raised-button>Done</button>
            </div>
        </div>
    </form>
</div>