<html>
    <body>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div>
                <p class="form-header" style="color: aliceblue;">Reset password</p>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput formControlName="password" type="password"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm</mat-label>
                    <input matInput formControlName="confirmPassword" type="password"/>
                </mat-form-field>
            <p class="form-header" style="color: aliceblue; font-size: 18px; margin-left: 0%; text-align:center" *ngIf="expiredToken">You are unable to change your password because your security token has expired.</p>
            <p class="form-header" style="color: aliceblue; font-size: 18px; margin-left: 0%; text-align:center" *ngIf="usedToken">You are unable to change your password because you already used your security token.</p>
            <button class="submit-button" type="submit" mat-raised-button>Reset</button>
            </div>
        </form>
    </body>
</html>