body {
    margin: 0;
    padding: 0;
    background-image: url('./login_background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: flex;
    max-width: 1200px;
    width: 100%;
  }

  .logo-container {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    max-width: 50%;
    max-height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-sizing: border-box;
    max-height: 680px;
  }

  form {
    background-color: rgba(38, 61, 54, 0.65);
    border-radius: 15px;
    width: 100%;
    max-width: 800px;
    max-height: 700px;
    box-sizing: border-box;
  }

  mat-form-field {
    width: 75%;
    max-height: 68px;
    line-height: normal; 
  }
  
  mat-form-field:last-child {
    margin-bottom: 20px;
  }

  .mat-input-element {
    height: 100%;
  }

  mat-form-field.profile-picture {
    width: 75%;
    max-height: 75px;
  }

  .mat-input-element.profile-picture {
    height: 200%;
  }
  

  .profile-picture-container {
    margin-bottom: 10px;
    overflow: hidden;
    width: 80%;
    height:40%;
    padding: 5px;
    border: 2px solid #E67840;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .profile-picture-label{
    color:white;
    font-size: large;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .profile-picture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .button {
    width: 75%;
    max-height: 50px;
    font-size: 1em;
    color: #fff;
    background-color: #3B846B;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .logo-container,
    .form-container {
      width: 100%;
    }
  }

  .file-input {
    display: none;
  }

  .upload-btn {
    background-color: #3B846B;
    color: white;
    height: 30px;
  }