<div id="tour-form">
    <br>
    <br>
    <p>Create secret of checkpoint</p>
    <br>
<form [formGroup]="secretForm">
    <div>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        
        <form [formGroup]="pictureForm">
            <div >
                <mat-form-field>
                    <mat-label>Picture URL:  </mat-label>
                    <input matInput type="text" name="picture" formControlName="picture">
                </mat-form-field>
                <button mat-raised-button class="buttonPlus" (click)="addPicture()">+</button>
            </div>
        </form>
        <p *ngIf="pictures.length > 0">Pictures preview:</p>
                <table>
                    <tr *ngFor="let p of pictures; index as i">
                        <td><img [src]="p" width="200" height="150"></td>
                        <td>
                            <button mat-raised-button class="buttonPlus" (click)="deletePicture(i)">-</button>
                        </td>
                    </tr>
                </table>


        <div class="routingButton">
           <button (click)="onFinish()">Finish</button>  
        </div>


    </div>
</form>

</div>

