<div id="tour-form">
    <br>
    <br>
    <p>Create secret of checkpoint</p>
    <br>
<form [formGroup]="secretForm">
    <div>
        <mat-form-field class="secret-mff">
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="7"
          formControlName="description"
          cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
        
        <input type="file" (change)="onImageSelected($event)" class="file-input" multiple #fileUpload />
        <div class="file-upload">
            <button mat-flat-button class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>insert_photo</mat-icon>
                <span>Upload images</span>
            </button>
        </div>
        
        <div class="image-container" *ngIf="!shouldEdit && picturePreview && picturePreview.length > 0">
            <img *ngFor="let image of picturePreview" [src]="image" alt="Image" style="max-width: 200px; max-height: 200px;">
        </div>

        <div class="routingButton">
           <button (click)="onFinish()" class="button" mat-raised-button>Finish🏁</button>  
        </div>
    </div>
</form>

</div>

