#tour-form{
    width: 70vh;
    margin-top: 5vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-direction: column;
    background-color:#F7F6DC;
    border-radius: 20px;
}

#tour-form .secret-mff{
    height: 27vh;
    margin-right: 8vh;
}

.file-input{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}

.file-upload{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.buttonPlus{
    width: auto;
    margin-bottom: 10px;
    width: 30px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
    margin-left: 5px;
}

label{
    font-size: 20px;
    padding-bottom: 5px;
}

.description{
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    margin-left: 8vh;
}

p{
    font-size: 3vh;
    color:#E67840;
    font-weight:bold;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

.button{
    width: auto;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: 4vh;
    margin-top: 15px;
}

body{
    background-color: #3B846B!important;
    height: 100%;
    margin: 0;
    overflow: auto;
}

.image-container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    max-width: 50vh;
    overflow-x: auto;
    gap: 2vh;
}