#tour-form{
    width: 600px;
    display:flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 400px;
    background-color:#F7F6DC;
    border-radius:20px;
    margin-top:40px;
    padding-left:120px;
    padding-right: 0px;
}
.secret-mff{
    width: 12cm;
    height: 8cm;
}
textarea{
    width: 10cm;
    height: 5cm;
}
mat-form-field{
    width: 10cm;
}

.buttonPlus{
    width: auto;
    
    margin-bottom: 10px;
    
    width: 30px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
    margin-left: 5px;
}
p{
    margin: 0 auto;
    font-size: 3vh;
  color:#E67840;
  font-weight:bold;
  padding: 1% 2.5%; 
  margin-right: 210px;
  
}
.subtitle{
    font-size: 2vh;
  color:#E67840;
  font-style: bold;

}

.button{
    width: auto;
    margin-left: 350px;
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 120px;
    font-size: 100%; 
    color:#fff;
    background-color: #E67840;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

body{
    background-color: #3B846B!important;
    height: 100%;
    margin: 0;
    overflow:auto;
}
